[2014-03-07 17:14] davidmegginson opened #1 "Test issue"
At CJ's request.

[2014-03-07 17:39] takavarasha commented on #1
Test comment

[2014-03-10 08:40] cjhendrix opened #2 "Test issue to see if notification is working. If you get this by email, please leave a comment."

[2014-03-10 08:46] bmichiels commented on #2
Got it.

[2014-03-10 08:56] seustachi commented on #2
Test reply by mail

2014-03-10 9:40 GMT+01:00 cjhendrix notifications@github.com:

[2014-03-10 09:00] alexandru-m-g commented on #2
Received.
On Mar 10, 2014 9:56 AM, "seustachi" notifications@github.com wrote:

[2014-03-10 11:13] takavarasha commented on #2
Got it too

[2014-03-10 13:25] rosnfeld commented on #2
Yup.

[2014-03-10 13:35] cjhendrix opened #3 "Tags for Indicator-specific collections on CKAN"
We can programmatically create the CKAN collections for each indicator type (from SW).  If you want, we can include specific tags for each indicator (for example, the indicator for "km of roads" could be tagged with "transportation").  Rather than doing these in CKAN (where they would be lost if we had to rebuild the database), we can do it from another data-team-managed list.  When you think you

[2014-03-10 16:28] cjhendrix opened #4 "Make the links between organization and source"
At the moment, the CPS data model is set up to store the link between a source (i.e. a database) and an organzation (i.e. the authority that publishes the database).  However, we don't have a way of getting that information from the data team. When we are ready to tackle this (probably after Flux Capacitor), we will need to set up a way for you guys to make those links (either in the CPS Metadata

[2014-03-10 19:03] JavierTeran commented on #1
Closing this issue.

[2014-03-10 19:03] JavierTeran commented on #1
Re-opening. Godfrey please take a look.

[2014-03-10 19:45] takavarasha commented on #1
Issue re-resolved

[2014-03-10 19:45] #1 closed, assigned to takavarasha

[2014-03-11 13:48] luiscape commented on #2
I believe we're all getting it. Closing.

[2014-03-11 13:48] #2 closed, assigned to nobody

[2014-03-11 14:53] cjhendrix opened #5 "Are the units for PVF020 correct"
Judging from the data, it should be kcal/person/day

[2014-03-11 15:59] JavierTeran commented on #5
Strictly speaking you are right. However, that is the standard unit used when referring to Food supply. Godfrey and I are working on the standardization of units, but we most likely follow what the authority in this area suggest, which is kcal/per capita/day.

[2014-03-11 16:02] JavierTeran opened #6 "Value Units (column C) and Source Units (column Q) standarization."
I assume this is from SW and means unknown?  We need to resolve these.  Example: PSE210, GINI Index.

[2014-03-11 16:03] JavierTeran opened #7 "Standardize expression of value units (column C)."
Let's apply the same standardization to Source Units (column Q).
Sometimes it has "%" , sometimes "% of something", sometimes "percent . . .", sometimes "percentage".  We probably want to standardize these and also standardize capitalization, abbreviation etc.  The string in this column is how the units will be presented to users.

[2014-03-11 16:03] JavierTeran opened #8 "Country names"

[2014-03-11 16:03] JavierTeran opened #9 "Test"

[2014-03-11 16:06] #9 closed, assigned to nobody

[2014-03-11 16:08] JavierTeran opened #10 "Organizations and Authorities"
The organizations metadata (see the Org tab) seems to be a bit of a mix between organization (authority) and source (database owned by the organization).  I've cleaned some of it up, but it needs to refined. The organizations then need to be indicated on the DataSeries sheet, column L.

[2014-03-11 16:22] JavierTeran opened #11 "2009, 2010, 2013 ReliefWeb samples for CHD"
Revision of ReliefWeb samples for CHD review

[2014-03-11 16:22] JavierTeran opened #12 "Bootstrap of the ReliefWeb sample"

[2014-03-11 16:24] JavierTeran opened #13 "CHD Attributes and CHD Indicators lists"
Define the Common Humanitarian Dataset basic indicator list.

[2014-03-11 16:24] JavierTeran opened #14 "Colombia Information Data Systems"
Research Colombia data system.

[2014-03-11 16:25] JavierTeran opened #15 "Metadata Terms of Use by Source"

[2014-03-11 16:26] JavierTeran opened #16 "Colombia, Kenya and Yemen Deep Dive"

[2014-03-11 16:27] JavierTeran opened #17 "Quality Assurance Framework V2.0"
Quality assurance framework. First version can be found here:
https://docs.google.com/document/d/1Akqkzc-9jplHnTQ6nwt3qzSqRS4MldL8kGaqfFfrvDc/edit

[2014-03-11 19:08] JavierTeran commented on #8
Please use http://unstats.un.org/unsd/methods/m49/m49chang.htm

[2014-03-11 19:09] #5 closed, assigned to JavierTeran

[2014-03-12 14:30] cjhendrix opened #18 "A error-filled SW file, please"
We discussed this a while back, but it would be good for us to have a ScraperWiki CSV zip file filled with the kinds of errors we would like to be able to catch during validation.

I'm not sure what the best way is to build something like that, but for sure we would want a checklist of errors that we should catch so we know when we are successfully catching them all.

[2014-03-12 14:39] rosnfeld commented on #18
I think this could be built manually, perhaps by modifying an existing SW file.

A few ideas to start with:
- wrong number of columns/fields in a row
- garbage data in each field (e.g. have a row for each of the dsID, indID, region, value, period fields that is otherwise good but has random characters in that field)
- only half of the regions populated for a given indicator (a problem that has rea

[2014-03-12 16:28] cjhendrix commented on #18
Yes, that's the sort of stuff I was thinking of.  I _think_ at the moment that we would do pretty well against this list except for the 3rd item.

[2014-03-12 17:11] rosnfeld commented on #18
(The 3rd item unfortunately continues to happen - the most recent SW data seems to have only a small portion of regions covered by World Bank data)

[2014-03-13 11:53] cjhendrix commented on #18
Yes, but at least in that case, the server is alerting us that something went wrong with the scraper.  @JavierTeran , I wonder if we shouldn't ask Dragon about that one.  It seems to have persisted for several days.

[2014-03-13 19:29] takavarasha commented on #8
I have gone through the list of the 73 focus countries in the CPS Metadata Management and found 7 country names that were different from the ones used by UNSTATS. I corrected the names of the 7 countries as follows:

Changed [Bolivia] to [Bolivia (Plurinational State of)]
Changed [Congo, The DRC] to  [Democratic Republic of the Congo]
Changed [Cote D'Ivoire]  to  [Côte d'Ivoire]
Changed [Korea, D.

[2014-03-13 19:29] #8 closed, assigned to takavarasha

[2014-03-14 09:14] cjhendrix commented on #8
thanks for going through them, Godfrey.

Do be careful about changing the _structure_ of the spreadsheets, as they are used to generate SQL to bootstrap our databases.  If you feel like you want to change the structure, let me know so we can coordinate it with the dev team.  Changing values is fine with a couple of exceptions; that's what we built it for!

[2014-03-14 15:17] takavarasha commented on #8
Thanks CJ. Well noted about changing the structure of the worksheets!

On Fri, Mar 14, 2014 at 4:14 AM, cjhendrix notifications@github.com wrote:

[2014-03-17 04:58] takavarasha commented on #6
This issues was handled at the same time as issues #7 (https://github.com/OCHA-DAP/Data-Team/issues/7)

[2014-03-17 04:59] #6 closed, assigned to takavarasha

[2014-03-17 05:01] takavarasha commented on #7
I standardized the expression of units in column C. The units in column Q now read the same as in column C.

[2014-03-17 05:59] takavarasha commented on #10
I removed the following items from the Orgs worksheet because they are products rather than organisations. I replaced removed item with the organisation responsible for the products

-Armed Conflict Location & Event Dataset
-DESA United Nations Indicators for Monitoring the Millennium Development Goals
-UNDP Human Development Reports
-Unicef Statistics and Monitoring
-United Nations Multilingual T

[2014-03-17 06:00] #10 closed, assigned to takavarasha

[2014-03-17 10:18] cjhendrix commented on #7
@takavarasha @JavierTeran

I'm reopening this just to make sure you've seen it.

I think I may have muddled this one a bit.  DataSeries Column C is how we store the units in the normalized database.  This would be the default of how we present it to users, though of course a given interface could manipulate those values and present the units differently.  So, changes to C (and D for that matter) a

[2014-03-17 14:02] JavierTeran commented on #18
Sure, I am writing to him now. Thanks

[2014-03-17 14:49] JavierTeran commented on #18
And for the dummy file, sometime ago I started preparing one, we talked about it. I will have it ready by the end of next week.

[2014-03-17 15:35] JavierTeran commented on #8
Thanks Godfrey.

[2014-03-26 18:44] JavierTeran commented on #15
Completed. Reference document: https://docs.google.com/document/d/1f0xYmh4KFlKcX_GvfzJNd6hODU9N9hnSan2LPuysrIs/edit#

[2014-03-26 18:44] #15 closed, assigned to takavarasha

[2014-03-26 18:45] #12 closed, assigned to nobody

[2014-03-26 18:45] #11 closed, assigned to nobody

[2014-03-26 18:45] #7 closed, assigned to takavarasha

[2014-03-27 12:12] cjhendrix opened #19 "Deactivate the import of indicators from HDRSTATS, since those data are no longer available."
This will avoid the creation of collections on CKAN that fail when the resource is downloaded.

If you can do this by Monday COB, it will be included in the Beta0.1 release on Production.

[2014-03-31 06:48] cjhendrix commented on #19
Two alternatives to solving this problem:

1) Alternatively, we could dig into our our old copies of the SW data to find this and load it to the database.  It wouldn't update, but at least the historic data would be there.

2) Dragon says they have searched to see if this data is out there somewhere, but haven't found it.  You could look for an alternative source, and/or have another look around t

[2014-04-02 19:48] cjhendrix opened #20 "PVX040 (ACLED incidents of violence) seems to be missing from the SW data"
Has it always been like that?  Should we disable it?

[2014-04-02 20:13] alexandru-m-g commented on #20
PVX040 was not in the scraperwiki data when we were testing the import a few weeks ago.
There was an email chain about this called "Missing Indicator Types".
Hope this helps

[2014-04-02 20:39] rosnfeld commented on #20
Duplicate of https://github.com/OCHA-DAP/dap-scrapers/issues/30 ? (intentional?)

[2014-04-03 09:58] cjhendrix opened #21 "Create list of indicator codes for the indicators that don't have proper codes. e.g. "_blah blah blah""
There are a bunch of indicators that were given codes by SW and not by us.  These are things like "_Access to electricity".

The first step to getting these fixed is to give them real indicator codes.   This is not part of our warp coil goals at the moment, so not urgent.

[2014-04-03 12:01] cjhendrix opened #22 "Provide a list of indicators that need to be converted from percentage to ratio."
See https://github.com/OCHA-DAP/hdx-ckan/issues/61 for details.

[2014-04-07 15:39] JavierTeran commented on #21
Ok, we will create new indicator IDs for those non-numeric ones.

[2014-04-07 15:43] JavierTeran opened #23 "Identify new indicators from the ReliefWeb data."
Can you check if any of this 'new' indicators are already in CKAN? Sarah believes that some of these are already included. Please let me know, Thanks, Javier

https://docs.google.com/spreadsheet/ccc?key=0AoSjej3U9V6fdE9ieW9XQzNEOERNQUh1eWdEVFhucFE&usp=drive_web#gid=0

[2014-04-07 17:00] JavierTeran commented on #22
Hi CJ, this is the list of indicators that need to be rescale to 0 to 1. Please divide the non-null figure by 100.

_% of routine EPI vaccines financed by government
_Access to electricity (% of population)
_Children 1 year old immunized against measles, percentage
_International migrant stock (% of population)
_Internet users per 100 inhabitants
_Population undernourished, percentage
PCH090
PCX10

[2014-04-08 15:23] cjhendrix commented on #22
Thanks Javier.  It's in the product backlog for CPS:

https://github.com/OCHA-DAP/DAP-System/issues/115

---

CJ Hendrix
Technical Lead, Humanitarian Data Exchange
United Nations Office for the Coordination of Humanitarian Affairs
Tel: +41 (0)22 917 2527
Mobile: +41 (0)79 217 3083
Email: hendrix@un.org
Skype: hendrix.cj
www.unocha.org

From:   Javier Teran notifications@github.com
To:     OCHA-DAP

[2014-04-08 20:33] luiscape commented on #22
The issue has been resolved. Closing it.

[2014-04-08 20:33] #22 closed, assigned to JavierTeran

[2014-04-08 20:43] luiscape commented on #19
Sorry, we didn't read this notice. We'll be watching this issue tracker more closely now. Use mentions (@) to get our attention.

[2014-04-08 20:44] luiscape commented on #19
We are closing this issue -- couldn't understand if the issue still persists.

[2014-04-08 20:51] luiscape commented on #4
This seems to be no longer relevant. Closing.

[2014-04-08 20:51] #4 closed, assigned to JavierTeran

[2014-04-08 21:08] luiscape commented on #16
I will create a new page with information about the National Statistics Offices.

[2014-04-09 09:36] cjhendrix commented on #19
Actually, it is still an issue, but it can't be resolved by deactivating the import in CPS Metadata Gdoc (since that is frozen).  What we need to do now is delete all the collections for which HDRStats is the source.    These collections exist, but the downloaded XLSX have no data because the data has been removed and therefore the scrapers are empty for those indicators.

I've deleted _HDR:68606

[2014-04-09 12:37] JavierTeran opened #25 "Create source-centric collections"
Create collections based on organizations: WorldBank, FAOSTATS

[2014-04-09 12:38] JavierTeran opened #26 "Bring ReliefWeb data into HDX repository"
Create a scraper to access ReliefWeb data
Define indicators based on ReleifWeb data
Upload ReliefWeb data into HDX repository

[2014-04-09 12:40] JavierTeran opened #27 "Bring COD/FODs from pilot countries"
Obtain COD/FOD data for Colombia, Kenya and Yemen
Select the best indicators (define best as Homogeneous across pilot countries, consistent)
Upload data into HDX repository

[2014-04-09 12:41] JavierTeran opened #28 "Bring UNHCR refugee data into HDX repository"
Obtain data from popstats.unhcr
Re-organize the data into indicator-centric types
Upload the data into HDX repository

[2014-04-09 12:43] JavierTeran opened #29 "Bring FTS data into HDX repository"
Obtain the data from FTS
Create indicators
Upload the data into HDX repository

[2014-04-09 14:23] luiscape commented on #29
I am assigning this to me just for exploration. However, @rosnfeld knows this data well.

[2014-04-09 14:24] luiscape commented on #28
Should we also divide the dataset into a country-based division?

[2014-04-09 14:27] rosnfeld commented on #29
Yup, I am working on this right now.

[2014-04-09 14:27] JavierTeran commented on #29
Thanks. I will reassigned to Andrew just for administrative purposes.

[2014-04-09 14:34] JavierTeran opened #30 "Complete the definition for each indicator-centric collection and country-centric"
Manually complete the definition for each indicator and each collection in CKAN production. We are seeking the possibility to get Bonnie help on this.

[2014-04-09 14:34] JavierTeran commented on #30
Thanks CJ for taking over with a scrip on this.

[2014-04-09 14:36] JavierTeran commented on #25
Thanks CJ, it is my understanding that you will create a scrip for this.

[2014-04-09 14:38] JavierTeran opened #31 "Data Visualizations with Tableau"
Kevin Lynch (Dublin) is working on this based on pre-crisis data

[2014-04-09 14:40] JavierTeran opened #32 "Explore the possibility of doing R + Shiny visualizations within the team."
CKAN data visuals:
http://test.data.hdx.rwlabs.org/dataset/test-zwe-population-projection-1982-to-present
Visualisation interface: http://rserver410.iao.fraunhofer.de/shiny/shinyHDX/
R: http://rserver410.iao.fraunhofer.de/rstudio/

[2014-04-09 14:43] JavierTeran opened #33 "Volunteers roster"
Automate the volunteers roster and skill form

[2014-04-09 14:45] JavierTeran opened #34 "Common Humanitarian Dataset Paper"
Methodology is here
https://drive.google.com/?authuser=0#folders/0BzNYvYpDh-daMENmV1ZmSXpmN0U
Baseline data ready, operational data to be completed

[2014-04-09 15:08] luiscape opened #35 "Finish the 'Building a Scraper Strategy' document."
A significant part of our data collection process rely on scrapers build by ScraperWiki. We need a scraper strategy to manage the building of new scrapers, the maintenance of old scrapers, and the day-to-day management of scrapers.

[2014-04-09 15:09] rosnfeld commented on #29
One slightly thorny issue: while most SW indicators are organized by "Country", FTS data is generally organized by "Appeal" (and this is reflected in the CHD spreadsheets). My understanding is there can be a "consolidated appeal" each year for each prolonged crisis in a region, but there can be additional "flash appeals" to handle sudden events like the typhoon in the Philippines. Funding is organ

[2014-04-09 16:34] luiscape commented on #32
Serban is currently making an assessment of what would be necessary to fully implement R + Shiny. The assessment should be ready sometime this or next week. No set dates were determined.

[2014-04-09 21:09] luiscape opened #36 "Give workshop on the basics of using R"
Prepare and give a workshop on the basics of using R for the data-team.

[2014-04-10 09:49] cjhendrix commented on #30
Closing this as a duplicate of https://github.com/OCHA-DAP/hdx-ckan/issues/131

[2014-04-10 09:52] cjhendrix commented on #25
Eventually, yes.  It's not in Warp Coil at the moment.   But when we do get to it, what we will need is an example of the output format(s) you want.  You may already realize that this one is more complex than country-centric or indicator-centric because it is 3 dimensional (country, year, indicator).

[2014-04-10 12:59] JavierTeran commented on #32
Thanks Luis for the update. Dominik is creating some visuals. I will assign this issue to him.

[2014-04-10 13:02] JavierTeran commented on #29
Based on what we found in our ReliefWeb research for the CHD, the consolidation by country-year will be the most 'recurrent' data need. On each country-year collection, you could combine all appeals.

[2014-04-10 13:03] JavierTeran commented on #36
Thanks, much appreciated.

[2014-04-10 13:44] rosnfeld commented on #29
Great, thanks - I will run with that.

Next question - where do the Cluster definitions come from in the CHD? I see a different set of Clusters depending on where I look. For example, CHD has Agriculture but these sites do not:

http://www.unocha.org/what-we-do/coordination-tools/cluster-coordination
https://www.humanitarianresponse.info/clusters/space/page/what-cluster-approach

Those sites have

[2014-04-10 14:41] luiscape commented on #3
@takavarasha How are we doing on this task? I am eager to close it! :dart:

Can I help you review the tags in any way? I am much "freer" this week to work on Data Team tasks.

[2014-04-10 14:43] luiscape commented on #31
@JavierTeran Any news on this end? I am eager to close the issue for the week. :dart:

[2014-04-10 14:45] luiscape commented on #23
@JavierTeran and @takavarasha Can we go over the broader `creating indicators for ReliefWeb` data sometime today? I have sometime during the afternoon and feel that this is an important tasks, re put RW data on HDX.

By the way, ReliefWeb just released publicly the v1 of their API. Read their blog post here: http://reliefweb.int/blogpost/transforming-humanitarian-data-knowledge-introducing-reliefw

[2014-04-10 15:57] JavierTeran opened #37 "New data partnership: Ubicity"
Note from David

Javier and Godfrey:

I just finished a call with Sigmund ("Sigi") Kluckner and Hermann Huber at the Ubicity project in Austria.  Their tool is a set of extensions around the Elastisearch search engine, a Solr alternative, for real-time big-data indexing. I don't think it makes sense for us to switch search engines at this point (especially when ReliefWeb and HR.info are both using

[2014-04-10 19:36] luiscape opened #38 "Create a dictionary of country names"
Compare the current HDX list with ReliefWeb.

[2014-04-10 22:37] luiscape opened #39 "Determine method for using country names and ISO3 codes"
We currently have a few inconsistencies with the way we assign names and country codes. I did a comparison between our terminology and ReliefWeb's and highlighted some differences here:

https://docs.google.com/spreadsheets/d/1ZzjQY1LLF0SpyG6dU7keAKtDbpRxf4gOeiL-c3Jb0wE/edit#gid=0

To fully solve this issue, I suggest the following method:
1. Use the official names provided by UNTERM. (A) We have

[2014-04-10 22:38] luiscape commented on #39
@takavarasha Also let me know what you think.

[2014-04-11 12:27] JavierTeran commented on #38
We adopted in HDX the 'Standard Country or Area Codes for Statistical Use' provided by the UN statistics division.
http://unstats.un.org/unsd/methods/m49/m49.htm

Good idea!

[2014-04-11 12:29] JavierTeran commented on #39
Great analysis. Please see my comments on Issue #38. Godfrey already standardized all focus countries in HDX repository. We did only long names but your proposal of short names is great. What you think @takavarasha ?

[2014-04-11 12:33] JavierTeran opened #40 "Run a QA for completeness of the XLS collections in CKAN"
1. Simply open each collection and verify there is data in there.
2. For a 'small' subset (a sample of at least a 1/4 of all collections) compare figures from collection and original sources. Note that each collection at this stage has passed the CPS test, therefore collections are curated.

[2014-04-11 12:42] JavierTeran commented on #3
That's a good idea. I think he is almost done but a QA is appreciated.

[2014-04-11 12:43] JavierTeran commented on #23
I want to finish few things in the morning but after that let's work on it @luiscape

[2014-04-11 12:50] JavierTeran commented on #29
The CHD has passed through several hands and I personally ignore the reasons behind the definitions for FTS data. However, we are taking the ownership of it. Therefore, for the sake of simplicity, lets stick with the cluster name as defined here http://www.unocha.org/what-we-do/coordination-tools/cluster-coordination. You will have 11 clusters.

[2014-04-11 12:51] JavierTeran commented on #31
Thanks for asking. Kevin had a conflict of priorities and we moved our meeting for Monday at 10.

[2014-04-11 14:25] JavierTeran commented on #32
Updating @OCHA-DAP/Data-team on my talk with Dominik.
This is his new development:
http://rserver410.iao.fraunhofer.de/shiny/shinyHDX2/
and this
http://rserver410.iao.fraunhofer.de/shiny/shinyHDX/
You have now the possibility to paste the link of the data source and a visualisation will appear.
Possibility to compare different countries/indicators was requested and Dominik will work on it.
Next ca

[2014-04-11 18:04] luiscape commented on #38
I'm closing this issue as it is almost a duplicate of #39

[2014-04-11 18:04] #38 closed, assigned to luiscape

[2014-04-11 18:06] luiscape commented on #39
The method for **official** names using http://unstats.un.org/unsd/methods/m49/m49alpha.htm sounds appropriate. That would be the right thing to do in my opinion.

As of "Short Names" we could implement that and use whatever we want -- or whatever makes sense.

Finally, if translation is necessary, I suggest using UNTERM for the other 5 languages that aren't in the http://unstats.un.org/unsd/metho

[2014-04-11 18:08] JavierTeran commented on #17
Revised version of the QAF. Elaborate on the quality of uncurated datasets section.

[2014-04-11 18:17] luiscape commented on #32
@JavierTeran Want to add Dominik as a `collaborator` here in this thread?

I tried the second link with an URL, but could not make it work ...

[2014-04-11 18:19] luiscape commented on #31
Perfect then. I'll move it back on `waffle` to `In Discussion` then since we are not finishing this task this week -- or maybe we should rephrase the task ...suggestions?

[2014-04-11 18:20] luiscape commented on #17
Excellent. Let me know if you have a link to share. I'll love to read it. :+1:

[2014-04-11 18:24] JavierTeran commented on #17
Completed. Submitted to Sarah for review and approval.
Document and blog can be found here:
https://drive.google.com/?authuser=0#folders/0B4Sjej3U9V6fYzNBVFBNZGFNLW8

[2014-04-11 18:25] JavierTeran commented on #17
Thanks so much @rosnfeld for your comments. Much appreciated.

[2014-04-11 20:23] JavierTeran commented on #39
Sounds good to me, @takavarasha do you agree?

[2014-04-11 20:24] JavierTeran commented on #32
Sure, @luiscape should I ask him to register at github first?

[2014-04-11 20:25] JavierTeran commented on #31
No, I guess, we should leave it as in progress. Lets see how Monday looks like and we decide.

[2014-04-14 12:59] JavierTeran commented on #17
Few editorial changes, latest version of the full report can be found here:
https://drive.google.com/?authuser=0#folders/0B4Sjej3U9V6fYzNBVFBNZGFNLW8

The draft blog has been changed to (?)
@luiscape, could you please update the location of the QAF blog? Thanks

[2014-04-14 13:44] JavierTeran commented on #40
@takavarasha Lets discuss. There are some collections in CKAN (I haven't identified yet the extent of the problem) with no data. For instance, PVX040 is empty because ACLED modified the way they disseminate data and our scrapper can't get the data anymore. We need to repoint our scraper to the right location. @luiscape any suggestion on where to administer this?

[2014-04-14 14:52] JavierTeran commented on #23
Hi @luiscape do you want to look at it at 11 today?

[2014-04-14 14:55] JavierTeran opened #41 "New indicators SW"
New datasets:
https://docs.google.com/spreadsheet/ccc?key=0AoSjej3U9V6fdE9ieW9XQzNEOERNQUh1eWdEVFhucFE&usp=drive_web#gid=0

[2014-04-14 15:23] luiscape commented on #40
@JavierTeran My hunch is that we are getting empty datasets every time the scrapers fail for whatever reason. The reason why the data travels from its point of failure to a final user is probably a system error. If scrapers fail the data scraped last should be displayed instead. On that point, should we ask Andrew / the dev-team to build another validation test to check if there is any data in fin

[2014-04-14 15:27] rosnfeld commented on #40
Yes, this is definitely an issue I've raised before. There can be more complicated versions of it - for example World Bank scraping can often fail "half-way through", leaving you with partial results. I am quite sure the dev team is aware of it, though I'm not sure what github issues exist. (and unfortunately it's not really something I can help with at the moment given my lack of knowledge of the

[2014-04-15 14:06] JavierTeran commented on #40
Thanks @luiscape @rosnfeld . Definitely, the issue of the incomplete scrapping is of the knowlege of @cjhendrix and the dev team. However, at the moment, there is not other way to capture it unless you open the collection and check that the all data is in there.
One alternative I suggested was to ask Scraperwiki to provide a count of records per year every time the scraper runs. In that way, at le

[2014-04-15 14:08] JavierTeran commented on #40
@takavarasha How is the process going? Please let @luiscape if you need any help. Let me know if we can have an estimate of the extent of the problem by tomorrow 10 am when we have the meeting with Management. Thanks,

[2014-04-15 14:09] JavierTeran commented on #17
Hi @luiscape, is this @ochadataproject Sarah's github name?

[2014-04-15 14:13] JavierTeran commented on #41
@takavarasha Lets try to finalize this activity before @aidan leave on Wednesday April 16, 2014.

[2014-04-15 17:00] takavarasha commented on #3
All the indicators were tagged last week. I am enhancing the tags this week because while the tagging method that we discussed works very well for search, does not work very well for users who will make use of the filters on the side of the search screen. I am doing this enhancement concurrently with issue #40. So I am closing this one for now.

[2014-04-15 17:00] #3 closed, assigned to takavarasha

[2014-04-15 17:04] takavarasha commented on #40
I expect to finish this task by COB today (15 March). I will share google spreadsheet with all the indicators that I find to have missing data.

[2014-04-16 03:04] takavarasha commented on #40
I have checked the collections and have found 18 collections that have problems. In brief, 6 collections do not have resource (XLS files) at all, clicking on the "Go to resource" link for 2 collections results in an error, and 10 collections (UNDP(7), UNDESA(2) and ACLED(1)) have XLS files without any data in them.

I have recorded my detailed findings here:
https://docs.google.com/spreadsheets/d/

[2014-04-16 14:38] JavierTeran commented on #17
@ochadataproject Hi Sarah, this is the full report and blog for your revision and approval. Thanks:

https://drive.google.com/?authuser=0#folders/0B4Sjej3U9V6fYzNBVFBNZGFNLW8

https://docs.google.com/document/d/1rEJGF0F_lL1X2ZFTYb3AADvtu9f4g9rjvm_6W-F2_Wo/edit

[2014-04-16 14:43] JavierTeran commented on #40
Thanks @takavarasha for this work. We need to find the current/correct location of those collections to feed CPS and re-run the scraper. Could you include the URL for the datasets for each of the problematic collections. Please let me know if the request is not clear. Thanks, Javier

[2014-04-16 14:45] JavierTeran commented on #29
Pasting message from Andrew on FTS:
After playing with the FTS data/indicators for a few days I have some new perspectives. Unfortunately, I think that we probably need to do some deeper requirements work before pushing hard on implementation. (though perhaps we can do something basic for the short term)

As I noted on github, FTS data is organized by appeal and thus doesn't always map perfectly t

[2014-04-16 14:54] JavierTeran commented on #29
Thanks @rosnfeld  for this work. Sorry for the late response but FTS data is not easy to understand yet for me.

For the time being, lets put aside the CHD FTS definitions of indicators, because as you pointed out many of them need to be revised and probably the whole list re-defined. I am not sure if they would pass the TURC test of indicators. Also, I am concerned to replicate FTS data only in a

[2014-04-16 19:30] takavarasha commented on #40
I have added the URLs for all except two (ACLED and HDR).

[2014-04-16 19:52] takavarasha commented on #41
Have checked and none of the identified indicators are already included. I have added a column to in the google spreadsheet to record this. Also see the notes on the International migrant stock by sex indicator.
https://docs.google.com/spreadsheet/ccc?key=0AoSjej3U9V6fdE9ieW9XQzNEOERNQUh1eWdEVFhucFE&usp=drive_web#gid=0

[2014-04-16 19:56] rosnfeld commented on #29
Thanks, @JavierTeran  .

For what it's worth, here are SW-style CSVs containing my latest progress on CHD indicators for COL, KEN, YEM (note that COL does not have much data in FTS):
https://drive.google.com/folderview?id=0BwxtRla5zLd_d1NsWC11eWNCRGc&usp=drive_web

Hopefully the indicator descriptions are clear enough - they are meant to match up with the CHD, just "translated" somewhat for the fa

[2014-04-17 00:12] ochadataproject commented on #17
yes :)

On Tue, Apr 15, 2014 at 10:09 AM, Javier Teran notifications@github.comwrote:

[2014-04-17 21:50] rosnfeld commented on #29
Another update: I figured out the ERF issue - while most of the FTS site and the original CHD is organized by appeal, there can be substantial funding not associated with any appeal. If you instead look at funding by "emergency" it will capture all associated appeal funding as well as this other funding. Quite often there can be an emergency without an appeal - as in the case of most COL data.

As

[2014-04-20 01:54] luiscape commented on #26
The entities 'job' and 'training' from the API are not giving all the data. Apparently they are only returning entries that are currently 'open', that is, all the entries that have been 'closed' in the system are not being returned in the API. Effectively, this means that the API isn't returning historical data.

I've submitted a ticket to ReliefWeb and am trying to debug this issue with them. For

[2014-04-21 16:56] luiscape commented on #26
The data in the form of year vs. country has been collected and standardized. The summaries of the data can be found here: https://github.com/luiscape/ocha-rw-creating-indicators/tree/master/data-summary

I am working to have a file per country that contains all the indicators from ReliefWeb in it.

[2014-04-21 21:06] luiscape commented on #26
Here you can find all the data organized so far: https://github.com/luiscape/ocha-rw-creating-indicators

The indicators from ReliefWeb can be found in the following folders:
- data-indicators: Each file contains the indicators from ReliefWeb. Each file contains data about a country. This would be equivalent to our 'country-centric' approach.
- data-summary: Here you find two versions of each indi

[2014-04-21 21:07] luiscape opened #42 "Create indicator and collect data from the ReliefWeb 'source' entity."
The `source` ReliefWeb entity hasn't been collected. A work-around needs to be found to collect the data from the reliefWeb API.

[2014-04-21 21:10] luiscape commented on #23
Hi @JavierTeran , I am a little confused with this issue. What is this about again?

[2014-04-22 12:39] JavierTeran commented on #26
@luiscape Thanks Luis, this is great. Lets wait until Next Wednesday (April 30) for an answer from Shuichi to complete the other two indicators (jobs and training). Otherwise we close this.

@Aidan (have to add him) Two indicators have been defined and completed: Number of disasters and number of Number of reports per country per year. The organization is indicator-centric and country-centric.

[2014-04-22 12:50] JavierTeran commented on #41
Thanks @takavarasha.
@amcguire62, This is the list with new indicators from same sources where ScraperWiki currently extracts data. Please advice.

[2014-04-22 12:52] JavierTeran commented on #42
@luiscape Waiting time for response from Shuchi April 30. Otherwise we change the priority to medium. Thanks.

[2014-04-22 13:04] JavierTeran commented on #29
Thanks @rosnfeld. Please clarify, this effort is for the three pilot countries? Could we use your methodology for the rest of the countries? Or would it require a detailed revision on country basis? Thanks

[2014-04-22 13:12] rosnfeld commented on #29
I've just been using the three pilot countries as a "demo" (it takes less time to generate the data and is easier to inspect the results), but there is no manual work involved and it's trivial to extend to the full set of countries.

I did some QA on my work yesterday and found a few small discrepancies versus FTS's own reports, though some of them are reflected on the FTS website itself - one rep

[2014-04-22 13:14] #23 closed, assigned to luiscape

[2014-04-22 13:17] JavierTeran commented on #29
@rosnfeld Great news! Thanks. Now I am checking with @Aidan to see how we can go about and put it in SW scrapers for daily run

[2014-04-22 14:38] JavierTeran commented on #40
Thanks @takavarasha

[2014-04-22 16:18] rosnfeld commented on #29
Ok, sounds good.

By the way, here is a quick frequency-count of the different clusters present in FTS project data:
https://docs.google.com/spreadsheet/ccc?key=0AgxtRla5zLd_dE10a0NoUTVRdXoyXy1NWEk5VjJvM0E&usp=sharing

I could probably collapse a chunk of those by forcing all-caps cluster names, but it seems the standardization problem is still much worse than I feared.

[2014-04-22 17:57] luiscape commented on #34
@JavierTeran Should we add writing the paper for IEEE to this task or create another one and add it to the backlog?

[2014-04-22 17:58] luiscape commented on #28
I assume the task is to divide the data using the format that CPS takes ...

[2014-04-22 18:45] JavierTeran commented on #34
@luiscape Lets use this issue, but rename it please

[2014-04-22 18:53] JavierTeran commented on #29
@rosnfeld I am not sure, it does not seem to be too easy to the grouping.

Back on the first effort and for the 21 indicators that you have, would it be too hard to run your code for all countries, I would like to present all data to @Aidan and David for them to see the impact of including this data by the end of may through CPS. Thanks

[2014-04-22 20:39] rosnfeld commented on #29
Sure, here's an export of data for all countries (takes ~45 mins to generate on my machine, despite its modest size):
https://drive.google.com/folderview?id=0BwxtRla5zLd_d2l1aml6eEZVNnM&usp=drive_web

Caveats:
- from manual inspection one can easily see some garbage values that weren't present in the pilot countries; good test for the validators perhaps?
- I still feel that the indicators themselv

[2014-04-22 20:44] rosnfeld commented on #29
I guess another caveat is that there are generally missing rows instead of "0"s - if that was to change, the number of rows would increase dramatically.

Also - if ScraperWiki people would prefer a file-based database (I think they use SQLite in their code?) over CSV that's not hard to do.

[2014-04-22 21:36] luiscape commented on #42
Perfect. Thanks.

[2014-04-22 21:40] luiscape commented on #26
@Aidan and @JavierTeran I've put the two indicators extracted (Number of Reports and Number of Disasters) in the CPS format: https://github.com/luiscape/ocha-rw-creating-indicators/tree/master/cps-export

Notice that:
- the indicator id (indID) hasn't been defined, therefore I used the fake code RW001 for one and RW002 for the other. That needs to be fixed. See here: https://github.com/luiscape/oc

[2014-04-22 21:43] luiscape commented on #26
Also @rosnfeld I assumed that the `is_number` column was a validation test that checked if there was a number in the `value` column. If `true` I add a `1`, if `false` I add a `0`. Is that right?

Finally, what is the correct value for the `units` column? I added **integer**, but have no idea if that is correct ...

[2014-04-22 21:50] rosnfeld commented on #26
Yes, 1 for numeric and 0 for non-numeric. It's actually not from the validation work, ScraperWiki always had that column in there. Some of their indicators are just strings, e.g. they have an "indicator" for the name of a country.

The units column seems to be fairly ad-hoc in the ScraperWiki data, so I wouldn't worry about it too much. Lots of scraperwiki indicators use "count" as the units, whic

[2014-04-23 18:50] luiscape commented on #26
Thank you so much for the quick answer @rosnfeld . Most things cleared now. I'll add `count` instead of `integer`.

@JavierTeran I just added data from ReliefWeb's sources. The API doesn't serve data on when each organization joined ReliefWeb. So, on the `period` tab I simply added 2014. Let me know if you would like another approach.

Here is the latest data: https://github.com/luiscape/ocha-rw-c

[2014-04-24 14:05] luiscape commented on #28
I am reassigning this task to me @JavierTeran. Please advise if this isn't the right way to go.

I started working on the data yesterday. Here are my notes about working with UNHCR data: https://github.com/luiscape/unhcr-data

[2014-04-24 18:28] JavierTeran commented on #30
@takavarasha I believe we are done with the descriptions of the indicators but could you @takavarasha please check that we have the correct text for each country-centric indicators?

[2014-04-24 18:29] JavierTeran commented on #42
@luiscape We are closing this issue as the 'Source' indicator does not make any sense.

[2014-04-24 18:29] #42 closed, assigned to luiscape

[2014-04-24 19:40] JavierTeran commented on #31
@luiscape and @ochadataproject Just to let you know that I work on Tableau visuals today with Kevin and due to his workload he will have updates on them in two weeks. He will be also creating some tableau visuals with FTS data

[2014-04-24 19:41] JavierTeran commented on #29
@amcguire62 We will use FTS data as first attempt to bring data into CKAN via CPS

[2014-04-24 19:43] JavierTeran commented on #28
@luiscape Thanks that would be ideal. @ochadataproject I assuming Luis will be fully dedicated to the data team for the 'end-of-may' effort. Please clarify otherwise. Thanks.

[2014-04-24 19:43] JavierTeran commented on #27
@takavarasha Please let me know where are you standing with this activity. Thanks,

[2014-04-24 19:45] JavierTeran commented on #25
@takavarasha This activity change its priority. We discuss about this issue but please let me know if you want to discuss again. Thanks

[2014-04-24 19:46] JavierTeran commented on #40
@amcguire62 Let me know when you want to discuss. Thanks

[2014-04-24 21:28] luiscape commented on #42
Perfect. I'll take it out of the CPS-output for tomorrow's meeting.

[2014-04-24 23:09] ochadataproject commented on #28
Except for help with the blogs and the occasional graphic

On Thursday, April 24, 2014, Javier Teran notifications@github.com wrote:

[2014-04-24 23:10] ochadataproject commented on #31
Ok who is responsible for tying these on ckan under the related tab?

On Thursday, April 24, 2014, Javier Teran notifications@github.com wrote:

[2014-04-25 14:06] amcguire62 opened #43 "Performance / Analyitics"
Can we (via google analytics) capture that activity between ckan and cps (either as downloads or as calls so that if we have a performance issue we can identify / correlate this to performance of the platform #Luis you may already be planning to catch this.

[2014-04-25 14:14] davidmegginson commented on #43
This isn't the only option, but one trick with Analytics is adding a bit of Javascript to an outbound link; then Analytics can count all clicks on that link, even if they lead outside the domain:

https://support.google.com/analytics/answer/1136920?hl=en

We'd have two major steps to implement this:
1. @luiscape sets up our Analytics account to track the outbound click events.
2. Someone on the CK

[2014-04-25 17:57] luiscape commented on #43
@davidmegginson Analytics tracking could be the same used in our website.

It seems that the folks at OKFN have developed a neat CKAN extension to do this: http://docs.ckan.org/en/tracking-fixes/tracking.html

Will it be worth exploring it?

[2014-04-25 20:50] davidmegginson commented on #43
Definitely.  Do you have a sandbox where you could try it out?  If not, we
could try it at ckan.megginson.com (I'm happy to let you add the site to
your analytics account).

Cheers, David

On Fri, Apr 25, 2014 at 1:57 PM, Luis Capelo notifications@github.comwrote:

[2014-04-28 12:39] JavierTeran commented on #31
@ochadataproject  I will do that.

[2014-04-28 12:41] JavierTeran commented on #28
@ochadataproject  :) Thanks.
@luiscape Today we have a chat with Tarek UNHCR at 10.30 to re-define the UNHCR indicators.

[2014-04-28 12:42] JavierTeran commented on #25
@takavarasha Please let me know the progress of this issue. Thanks.

[2014-04-28 15:27] takavarasha commented on #30
I have completed checking that each country-centric indicator has the correct text. Each country-centric indicator has a description as the form [This dataset contains country profile and selected indicators for {country name}.]

[2014-04-28 15:27] #30 closed, assigned to takavarasha

[2014-04-28 16:36] JavierTeran commented on #27
@takavarasha Please an update. Thanks

[2014-04-28 16:39] takavarasha commented on #27
Currently working offline on Yemen data. I will be ready to upload this tomorrow.

[2014-04-29 03:58] takavarasha commented on #25
Will begin working on this issue on 29 April

On Monday, April 28, 2014, Javier Teran notifications@github.com wrote:

[2014-04-29 04:04] takavarasha commented on #27
Hope to finalise Yemen on 29 April

Regards,
Godfrey Takavarasha
Sent from a mobile device
On Apr 28, 2014 12:36 PM, "Javier Teran" notifications@github.com wrote:

[2014-04-29 04:10] takavarasha commented on #25
Will begin working on this issue on 29 April

On Monday, April 28, 2014, Javier Teran notifications@github.com wrote:

[2014-04-29 04:24] takavarasha commented on #37
The humanitarian keywords could be automatically retrieved from the tags
list from the hdx repository ckan instance api.

Regards,
Godfrey Takavarasha
Sent from a mobile device
On Apr 10, 2014 11:57 AM, "Javier Teran" notifications@github.com wrote:

[2014-04-29 15:38] takavarasha commented on #25
This task will involve creating a single workbook containing all the indicators from a single source. Each indicator will be presented in a single worksheet (tab) in the workbook.

[2014-04-29 22:40] luiscape commented on #26
@JavierTeran here you can find the code I wrote that runs on ScraperWiki's server: https://github.com/luiscape/reliefweb-scraperwiki-collector

It needs validation and some polishing, but it should be working fine on ScraperWiki's platform -- which is wonderful. Next week I will check with Dragon about further integrating it with our other scrapers.

It's not totally done, but I think we can rest

[2014-04-30 14:48] rosnfeld commented on #29
I've made a couple updates to the FTS data:
1) (minor) I removed 2 indicators (FY030, FY640) that were just simple ratios of other indicators
2) (major) Zero is now the default assumption for each indicator-region-year, rather than leaving missing values. Size of file is now larger to reflect that. I'm not sure how I feel about this change but let's try it out. I've used 1999 as the "start year",

[2014-05-01 14:09] JavierTeran commented on #27
Thanks @takavarasha Please let me know when you will update Colombia and Kenya. If you forseen any blocker please let me know. I would like to have 3 countries data ready by Friday May 9. Thanks,

[2014-05-01 14:11] JavierTeran commented on #26
@luiscape Thanks Awesome!
@Aidan @David Are we discussing the next steps tomorrow?

[2014-05-01 14:38] JavierTeran commented on #27
@takavarasha Please remind me to discuss the metadata fields before we close this activity

[2014-05-01 15:43] takavarasha commented on #27
I do not foresee any problems with the 9 May goal.

On Thursday, May 1, 2014, Javier Teran notifications@github.com wrote:

[2014-05-01 21:36] JavierTeran commented on #29
@rosnfeld Thanks. @Aidan. Lets discuss tomorrow.

[2014-05-01 23:47] rosnfeld commented on #29
@JavierTeran did you mean to ping @amcguire62 ?

[2014-05-02 08:33] amcguire62 commented on #29
Thanks guys - I got it and my github is indeed amcguire62 :)

Aidan

On Fri, May 2, 2014 at 12:47 AM, rosnfeld notifications@github.com wrote:

##

Aidan
ScraperWiki.com - A
Gigaomhttp://gigaom.com/2014/01/28/the-structure-data-awards-honoring-the-best-data-startups-of-2013/
Structure
Data Award Winner 2014

[2014-05-02 12:13] JavierTeran commented on #29
@rosnfeld Thanks!

[2014-05-02 13:42] takavarasha commented on #25
Completed draft source-centric excel workbook template. A set of templates, one in Excel and two in cvs format can be found here: https://drive.google.com/#folders/0B9nZNVHc4TTcX2N0dGRtbmpiOWc

[2014-05-02 15:56] amcguire62 commented on #29
I have appended at the end the notes from todays meeting to the Data
IN document
https://docs.google.com/a/scraperwiki.com/document/d/1-sbMaTMYxCHfz1Nyz0sIAx87anxZ3xu2lvSfvwaff3M/edit#

Main point for me is that we have a number of actions pretty much for
everyone (apart from Sarah and small one for CJ) and that ScraperWiki team
will deliver data into the RAW CKAN system by close of business on th

[2014-05-02 20:38] takavarasha opened #44 "Create a list of the minimum and maximum dates for each CHD indicator"
This involves creating a table that has the minimum year and maximum year for each indicator in the CHD. This list will be used at a later stage to update the min and max dates for each indicator.

[2014-05-02 20:38] takavarasha opened #45 "Create the link between source and organization for all sources in the CPS"
Resolving this issue will involve editing each source and selecting the correct organization from the Organization drop-down for the source.

[2014-05-02 20:38] takavarasha opened #46 "Manually fix the indicator metadata for data series on CPS"
Resolving this issue involves carrying out the following tasks for each data series defined in the CPS at [CPS->Curated Data>Data series].
- Move the text in the [Dataset summary] tab to the Methodology tab.
- Append the text from the [More info] tab to the end of the text in the [Methodology tab].
- Shorten the text in the [Dataset summary] to about one or two lines max

[2014-05-05 14:06] luiscape commented on #45
Sorry, closed by accident.

[2014-05-05 14:11] luiscape commented on #25
@takavarasha I noticed that Zimbabwe is spelled with only the first letter capitalized on the files above. All other countries seem to be spelled with all caps (e.g. BOLIVIA). Can we change all country names to first-letter-capitalized style?

[2014-05-05 14:12] luiscape opened #47 "Create validation rules."
Create validation rules for ReliefWeb data and other data (?).

[2014-05-05 14:29] luiscape commented on #43
@davidmegginson If you don't mind, let's give it a try on your sandbox instance. I've just sent you an email with the Google Analytics tracking number and also have given you admin access to our GA account. (Serban is also an admin.) Please change anything as you need.

Let me know if you need anything else.

[2014-05-05 14:33] luiscape commented on #43
@all -- Should I reassign this? What are the next steps to close this issue?

[2014-05-05 14:34] luiscape commented on #41
@JavierTeran What would be the follow-up of this issue?

[2014-05-05 14:35] luiscape commented on #28
@JavierTeran Would you know what is the current status of this issue?

[2014-05-05 14:36] luiscape commented on #31
@JavierTeran Let me know if you need any help with this issue.

[2014-05-05 14:37] luiscape commented on #47
@JavierTeran Let's discuss today what this task entails.

[2014-05-05 14:39] luiscape commented on #39
@JavierTeran @takavarasha -- Sorry for being pushy on this issue, but I see this as an essential standard to have -- and an easy win. What would be an update on this issue? And what are the tasks that need to be completed?

[2014-05-05 14:58] luiscape commented on #34
@JavierTeran just changed the task to 'In Discussion' in light of our upcoming discussion today.

[2014-05-05 18:25] luiscape opened #48 "Do Quality Assurance for UNHCR data."
Re-update the file and create metadata using CPS.

[2014-05-05 18:29] luiscape opened #49 "Assess the workload of writing a scraper for CAP appeals"

[2014-05-05 18:31] #47 closed, assigned to nobody

[2014-05-06 00:20] takavarasha commented on #25
I have checked the countries list on CPS and found that there were two
entries for Zimbabwe. I have deleted the other one. This error was carried
over from the CPS testing that was done about a month ago and recorded in
this issue https://github.com/OCHA-DAP/DAP-System/issues/118

On Mon, May 5, 2014 at 10:11 AM, Luis Capelo notifications@github.comwrote:

[2014-05-06 15:33] takavarasha commented on #46
Will wait for reimportation of this data from the CPS Metadata Management worksheet. See https://github.com/OCHA-DAP/DAP-System/issues/162

[2014-05-06 18:40] JavierTeran commented on #44
No action required.

[2014-05-06 18:40] #44 closed, assigned to nobody

[2014-05-06 18:58] JavierTeran commented on #41
There is some work to be done on CPS. Define indicator types, complete the metadata, and define the validation rules. At the moment @takavarasha is currently working on it.

[2014-05-06 19:09] JavierTeran commented on #39
The agreed spelling of countries names (short and long form) will be defined here:
https://docs.google.com/spreadsheet/ccc?key=0AoSjej3U9V6fdHJzcWNreF8tVDNXTlpaeXl3Z3h3WWc&usp=drive_web#gid=15
(column in orange)
Still work in progress, will update it in the following days.

[2014-05-06 19:15] JavierTeran commented on #35
Copy/Paste Toughs from Luis
Hi David,

I was thinking about that yesterday. Due to sparse documentation it took me a few hours to understand how the ScraperWiki platform works. Now that I understand it a little better, it seems to be quite a powerful platform for building scrapers because: (a) it runs an Ubuntu virtual environment for **every** "tool", i.e. scraper; (b) there are a few tools that

[2014-05-06 19:37] JavierTeran commented on #28
@luiscape Closing this issue as you open a new one #48 for this activity.

[2014-05-06 19:57] enw commented on #35
Thx for sharing, Javier.  (I'm getting these comments mailed to me...)

Both ScraperWiki and Morph use LXC / Linux Containers as their
virtualization technology. LXC is really light-weight (and arguably safer)
compared to older approaches to virtualization because it doesn't require a
separate hypervisior and uses a single kernel to support multiple VMs into
separate namespaces with cgroups & chro

[2014-05-07 13:28] JavierTeran opened #50 "Monitoring the number of sources for hardcoded number in CKAN"
Hi Javier,

You may remember that the total number of sources that appears on the ckan homepage can't (yet) be automatically generated.  I've made a gdoc where we can keep a (rough) listing of the sources.    Could the data team check it and add to it as you add sources?  Just let us know when the number has changed significantly and we can update it on CKAN.  After Warp Coil, we can look at autom

[2014-05-07 16:16] davidmegginson commented on #43
Hi, @luiscape — I think it might be most useful if the CKAN devs try this in one of their sandboxes, then in test.data.hdx.rwlabs.org — what do you think, @cjhendrix? If you'd prefer that I do it in ckan.megginson.com first, I can free up an hour to try it out.

[2014-05-07 16:35] cjhendrix opened #51 "CPS Export Naming for CKAN"
Just to be sure we don't miss anything, I have created a matrix for all the info we need for naming/populating the CKAN datasets for RW/FTS/whatever.

I have included the existing SW exports as examples.

https://docs.google.com/spreadsheets/d/1XEajd51uvhE0Erbco1K5t2SgkLebZvZw6Elr-v-wT1A/edit?usp=sharing

[2014-05-07 16:54] luiscape commented on #43
@davidmegginson I'll leave that decision to @cjhendrix -- what do you think CJ?

[2014-05-07 17:32] luiscape commented on #35
@enw Indeed. I sent a few emails to Hanare, one of the core developers of Morph.io. My conclusion is that the service is in early-development days. It is also much more limited than ScraperWiki's platform. The main difference here is that SW actually gives you access to the virtual machine via SSH. Morph only allows you to run a scraper directly from GitHub. In SW you can build a number of tools t

[2014-05-08 07:58] cjhendrix commented on #43
Since this seems to be mostly a ckan issue, I'm going to close this one and we'll continue the discussion here: https://github.com/OCHA-DAP/hdx-ckan/issues/196

[2014-05-08 07:58] #43 closed, assigned to luiscape

[2014-05-08 13:28] JavierTeran commented on #51
Done.

[2014-05-08 14:08] JavierTeran commented on #45
@takavarasha please let me know if you can close this issue today? thanks

[2014-05-08 14:09] takavarasha commented on #45
Created the links between source and organizations. Please see http://manage.hdx.rwlabs.org/hdx/admin/curated/sources/

[2014-05-08 14:09] #45 closed, assigned to takavarasha

[2014-05-08 14:12] JavierTeran commented on #45
Fantastic @takavarasha  thanks!

[2014-05-08 19:07] luiscape commented on #50
Hi @JavierTeran and @cjhendrix the Gdoc idea seems great. I was wondering if we could use the number of sources available on CPS instead: http://test-manage.hdx.rwlabs.org/hdx/admin/curated/sources/ ?

[2014-05-08 20:06] luiscape commented on #50
So, I noticed that the `source` is not being shown in the metadata part on CKAN. However, it is being registered in the database as you can see by querying the API:

http://test-data.hdx.rwlabs.org/api/3/action/package_show?id=number-of-uniformed-personnel-in-un-peacekeeping-operations

[code]

As you can see above, the `source` lists "DPKO". Would there be a way of calculating how many of those u

[2014-05-08 20:23] luiscape commented on #39
@JavierTeran just checked the Gspreadsheet and it does seem that it needs some work. Let me know if you need help.

[2014-05-08 20:27] luiscape commented on #25
@takavarasha @JavierTeran Is this issue solved?

[2014-05-08 20:31] luiscape commented on #48
@JavierTeran I am having trouble finding the UNHCR data. Would you point me to where it is please?

[2014-05-08 20:56] luiscape commented on #26
Hi @JavierTeran and @takavarasha I believe most of the tasks in this issue have been completed by now:
- Scrape the data from the ReliefWeb API
- Create indicators from that data.
- Run the scraper in ScraperWiki's platform and set them to run daily
- Export data in CSV and ZIP formats
- Create script to pull the ZIP file and store it in CKAN (Serban) [it should run daily]
- Create script for CPS

[2014-05-08 20:58] luiscape commented on #27
@JavierTeran and @takavarasha I have freed up sometime. Let me know if you need support with this task.

[2014-05-08 21:20] luiscape commented on #31
@JavierTeran I've added Dominik's 'web-app' to the 'children_under_five_mortality_rate_per_1000_live_births' dataset in our staging instance. I will come chat tomorrow with you how exactly you would like that to show up. Right not it isn't all that interesting ...

[2014-05-09 00:46] takavarasha commented on #25
The draft is ready (see comments above). This issue has since been reclassified to a middle priority to be handled next week.

[2014-05-09 13:40] takavarasha commented on #27
Thanks, I am just finishing off with Colombia now. Some support on this issue once we know how to proceed would be welcome: https://github.com/OCHA-DAP/Data-Team/issues/46

[2014-05-09 15:10] luiscape commented on #46
@takavarasha as discussed today, I'll finish ReliefWeb, UNHCR, and adding the related tab. If I manage to finish early I'll jump in into this issue.

[2014-05-09 16:44] JavierTeran commented on #29
@rosnfeld When you were working on FTS data, did you come across a definition of cross-appeal? I need that for some visuals we are developing, thanks

[2014-05-09 16:47] JavierTeran commented on #48
@luiscape Forwarding email from @davidmegginson  with a zip file now.

[2014-05-09 16:48] JavierTeran commented on #39
@luiscape Yes, please can you jump in there when you have a minute. Thanks

[2014-05-09 16:50] JavierTeran commented on #31
@luiscape  Thanks. All visuals from Kevin are here:
http://public.tableausoftware.com/profile/hdx4727#!/

[2014-05-09 16:52] JavierTeran commented on #31
@luiscape Dominik work is on issue #32 Please comment on Dominik's work there please.

[2014-05-09 16:53] JavierTeran commented on #32
@luiscape Latest Dominik's work can be found here:

http://hdx.iao.fraunhofer.de/?file=PVH140_baseline.xlsx

As discussed this morming, please contact him and discuss CSS stuff. Thanks,

[2014-05-09 17:01] rosnfeld commented on #29
No, sadly I just made that term up to handle the concerns I raised earlier on this issue.

As I understand it, FTS basically has a couple types of appeals: consolidated appeals for protracted emergencies (civil war, drought, etc), and flash appeals for sudden-onset emergencies (earthquake, typhoon, flooding, etc). A country can have 0 or 1 consolidated appeals (CAP) per year, and 0 to several flas

[2014-05-09 20:18] JavierTeran commented on #31
@luiscape Can you give me some text for the tableau front page by Monday morning? Thanks,

[2014-05-09 23:12] takavarasha opened #52 "Delete duplicate data series"
Delete the following four data series which are duplicated
- 1. Indicator type Code: TT027 and Source code: esa-unpd-wpp2012
- 2. Indicator type Code: TT027 and Source code: esa-unpd-wup2011
- 3. Indicator type code: TT021 and Source code: who-gho
- 4. Indicator type code: TT023 and Source code: who-globalatlas

[2014-05-09 23:38] takavarasha opened #53 "Could not find metadata for indicator TT028 (Percentage of people with acute watery diarrhoea)"
I could not find any metadata on the indicator TT028 (Percentage of people with acute watery diarrhoea). I have searched extensively and do not believe WHO has this one. Any suggestion on the way forward.

[2014-05-10 00:26] takavarasha commented on #46
Thanks @JavierTeran and @luiscape for helping out. I have finished doing the ones that were left. Metadata for all data series on CPS have been checked. See also https://github.com/OCHA-DAP/Data-Team/issues/52 and https://github.com/OCHA-DAP/Data-Team/issues/53 for issues discovered during the exercise.

[2014-05-10 00:29] takavarasha commented on #27
CODS and FODs for the three pilots countries are now in production.

[2014-05-12 14:43] luiscape commented on #48
@JavierTeran and @davidmegginson you can find the UNHCR dataset here: http://data.hdx.rwlabs.org/dataset/unhcr-refugee-population-statistics

It shows up as "draft" in the instance because I can't add a dataset to any country on prod. (Reportedly this was an issue already fixed in stag.) The data is **in** the system already. So hopefully with an update from stag to prod the dataset will remain. I

[2014-05-12 15:11] #46 closed, assigned to takavarasha

[2014-05-12 20:10] takavarasha commented on #53
Closing this issue since this indicator is no longer part of the wew CHD indicators.

[2014-05-12 20:10] #53 closed, assigned to JavierTeran

[2014-05-14 14:08] JavierTeran commented on #48
Thanks @luiscape Please ensure data remains after new deployment to take place today.  Please notify @cjhendrix in case something disappears.  Thanks,

[2014-05-15 14:43] davidmegginson commented on #48
@JavierTeran and @luiscape — what has to happen for us to close this task? Is it Javier's being able to download the data and approving of what he sees?

[2014-05-15 15:12] luiscape commented on #48
@davidmegginson We were just talking about it today. I created a few (very few) validation tests ([here](https://github.com/luiscape/hdx-unhcr-validation-tests/)) to the UNHCR data. I basically compare it with the data available in the site http://popstats.unhcr.org. The tests were all successful, however there are differences in the dataset, mostly due to the way the names of the countries change

[2014-05-16 15:37] JavierTeran commented on #48
We are satisfied with the data quality. We are closing this issue now. Thanks @luiscape

[2014-05-16 15:37] #48 closed, assigned to luiscape

[2014-05-16 15:39] JavierTeran commented on #26
@luiscape As discussed, can you manually create an indicator for RW number of reports? I know it is not a sustainable solution but we will do this while we find a solution to the duplicate name problem handling in CKAN (or is it in CPS?)

[2014-05-16 15:55] luiscape commented on #26
Hi @JavierTeran, yes I can without problems. I'll leave it ready today, and upload it to the HDX Repo once the problem has been fixed. I am also having a conversation with @cjhendrix [here](https://github.com/OCHA-DAP/DAP-System/issues/212) about finding a more sustainable solution. The bigger issue is there will be other instances in which indicators have the same name. For example:
- Number of D

[2014-05-16 16:38] takavarasha commented on #21
I have worked on this draft for the 18 indicator types currently affected by this issue. https://docs.google.com/spreadsheets/d/1PuYm30klSEkOu8-ziX_A6iNmJCtR0KxznVQuSDYQfEI/edit#gid=2130434504

[2014-05-16 17:47] luiscape opened #54 "Create random, fake dataset for frog team to play around with."
Create a random dataset that uses the model specified by the Common Humanitarian Dataset. @JavierTeran I would like your input here.

[2014-05-16 17:53] enw commented on #54
Thx in advance for this. CSV, Excel, JSON doesn't really matter.  We'll just transform it into whatever we need (probably JSON).  It would be nice to have a few different (but perhaps related) datasets - things to compare, analyze, chart.

[2014-05-16 18:51] luiscape commented on #41
@JavierTeran Would you know the status of this task?

[2014-05-16 18:52] luiscape commented on #52
@takavarasha Have these indicators been deleted yet?

[2014-05-16 19:17] takavarasha commented on #41
Scrapperwiki are fixing the scrappers. The last update from @amcguire62 at the end of Wednesday was that Dragon will look at the issue as soon as he was finished with something else he is was working on.

[2014-05-16 19:30] takavarasha commented on #52
Not yet. But this is a very low priority task because it does not block anything at the moment.

[2014-05-16 20:55] luiscape commented on #52
Got it. I was just wondering to see if they also show up in any automated process when querying the API. :-)

[2014-05-19 09:22] cjhendrix opened #55 "What dates to use for country-centric datasets on CKAN?"
CPS only produced min/max dates by indicator, not by country.  For now we can leave these date ranges blank.

**Options:**
1. Define a set of default dates for all countriy datasets (though the defaults could be different between baseline, RW, FTS)
2. Build a function in CPS to calculate the min-max based on a country query and output that as a csv (as we did for indicator-centric metadata)
3. Do

[2014-05-19 11:31] cjhendrix commented on #52
@luiscape The corresponding datasets should be deleted on ckan as well.

[2014-05-19 13:31] scraperdragon commented on #41
Current status:
- mostly done
- investigating issues with _anc45(SEX=MALE) etc.
- TT021/TT022 and TT023 are new scrapers which look moderately complicated and may take some time.
  Specifically, we may need to automate this using remote-controlled browsers due to the heavy use of javascript and session cookies.
- TT027 looks straightforward.

[2014-05-19 13:56] JavierTeran commented on #55
@cjhendrix That is correct. For the indicator-centric the use of min/max for date of dataset is very meaningful, that tells you for each indicator what is the minimum year with data and what is the latest year with data. The country-centric is a combination of several indicators and probably an average date of dataset may not provide much information. I suggest to leave it blank at the moment.

[2014-05-19 13:59] JavierTeran commented on #54
Ok @luiscape @enw I think the best for this would be to have the zip file from SW together with the FTS data, UNHCR data and RW data. This is a big file, CSV but probably the best for you to play around. What do you think @luiscape ?

[2014-05-19 14:00] JavierTeran commented on #52
@luiscape @cjhendrix I am thinking this is top priority, specially for demo purposes. @cjhendrix We do we need to delete them from? CPS?

[2014-05-19 15:44] JavierTeran commented on #52
@luiscape This is the issue I was referring to re: Duplicates

[2014-05-19 16:01] cjhendrix commented on #52
They will have to be deleted in both places, starting with CPS.  Otherwise, they will reappear on ckan the next time the script is run.

[2014-05-19 19:19] luiscape commented on #52
I deleted 13 datasets from CKAN. Here is the list:
- cote-d-ivoire-baseline-data
- guinea-bissau-baseline-data
- syrian-arab-republic-baseline-data
- tajikistan-baseline-data
- thailand-baseline-data
- tunisia-baseline-data
- turkey-baseline-data
- uganda-baseline-data
- united-republic-of-tanzania-baseline-data
- uzbekistan-baseline-data
- vanuatu-baseline-data
- zambia-baseline-data

However, th

[2014-05-19 22:14] alexandru-m-g commented on #52
@luiscape What actually happens when someone deletes a dataset is that a flag is being changed in the database so that the respective dataset is marked as "deleted". Nevertheless the dataset information is still in the database (but it was removed from the solr search engine). Generally, ckan works like a revisioning system so historical data is being kept.
Apparently sysadmins are still allowed t

[2014-05-20 12:46] cjhendrix opened #56 "Manually added datasets for Yemen, Colombia, Kenya aren't associated with a ckan country"
This is was probably because that functionality wasn't working in the first release on prod?  It is working now so those changes can be made.

This could be a good group exercise during the training.  You would have to make everyone a member of the right organization, then ask them to edit the datasets to add the country (and any other metadata they know!)

[2014-05-20 12:58] luiscape commented on #52
@alexandru-m-g Interesting behavior -- thank you for the explanation. Now, notice that I am an admin in the system. How can I delete permanently a dataset using the UI?

[2014-05-20 12:58] luiscape commented on #52
@JavierTeran What is the status of this task? The 4 duplicate indicators apparently were deleted by @takavarasha and I deleted the duplicate datasets. Is this task done?

[2014-05-20 14:10] cjhendrix commented on #52
@luiscape Sadly, you can't permanently delete a dataset.  Something users may want us to address.

[2014-05-20 14:18] enw commented on #54
@JavierTeran that works for us. Allows us to select subsets of the data to chart/graph/analyze. Actually.... can you filter on Yemen, Syria data. And I think there's a third country that HDX wants to consider for the initial release - Ukraine?

[2014-05-20 14:34] luiscape commented on #56
@cjhendrix and @JavierTeran Should I add the proper datasets to the right countries? I did it for [Kenya](http://data.hdx.rwlabs.org/api/action/group_show?id=ken) before reading this issue . . . :/

[2014-05-20 15:04] cjhendrix commented on #56
Based on our conversation just now, I think Javier would prefer it to be
done and not use it in the training.

[2014-05-20 15:15] cjhendrix commented on #55
Thanks.  Closing.

[2014-05-20 15:15] #55 closed, assigned to JavierTeran

[2014-05-20 15:40] luiscape commented on #54
@enw and @JavierTeran Here you can find the data suggested by Javier above: https://github.com/luiscape/data-for-frog/tree/master/frog-data

On [that repository](https://github.com/luiscape/data-for-frog) you can also find detailed comments about the data there. Let me know if you have any questions.

Note that some of the indicators are working-level indicators. That is, the data is good for deve

[2014-05-20 15:47] alexandru-m-g commented on #52
@cjhendrix @luiscape What we can do pretty easily though, is to not allow the display of deleted ( marked as deleted) datasets for anyone (even for sysadmins). The user then wouldn't know what's going on behind the scenes.
Or to show some clear warning on the page when someone's viewing a deleted dataset.
I don't think either would be a big change.

[2014-05-20 15:55] luiscape commented on #52
@alexandru-m-g Warning sounds interesting. In my profile page, I can see a little badge that says a dataset has been deleted. However, I can't see that warning within the dataset page. Adding it would be quite nice, in my opinion. :-)

![screen shot 2014-05-20 at 11 55 01 am](https://cloud.githubusercontent.com/assets/953118/3029600/1c387610-e037-11e3-9e5e-fda9d2345fa0.png)

[2014-05-20 16:10] alexandru-m-g commented on #52
@cjhendrix should I create a ticket for this and put it in the backlog ( or in Sprint ) ?

[2014-05-20 17:22] luiscape commented on #54
Hi @enw . I just filtered the data for our three focus countries (Colombia, Yemen, and Kenya). I added some explanatory notes in the [README file](https://github.com/luiscape/data-for-frog), but let me know if you still have any questions.

I'll be closing this issue now. :-)

[2014-05-20 17:22] #54 closed, assigned to luiscape

[2014-05-20 17:52] luiscape commented on #56
@cjhendrix and @JavierTeran I just added all datasets that show up in the search / query for each of those countries to their respective countries. Here is the breakdown:
- Yemen: 20 datasets.
- Kenya: 27 datasets.
- Colombia: 19 datasets.

If you want to see how many files each of those countries have, you can take a look at [this stats page](http://data.hdx.rwlabs.org/stats#largest-groups) in th

[2014-05-21 07:23] cjhendrix commented on #52
I think that's a good quick solution.  We could basically just show the status badge (there is also a "draft" badge for datasets without files) on any dataset list.

[2014-05-21 08:51] alexandru-m-g commented on #52
Opened https://github.com/OCHA-DAP/hdx-ckan/issues/356

[2014-05-22 14:56] davidmegginson opened #57 "Clean up CHD folder to avoid confusion"
In the [Common Humanitarian Dataset/](https://drive.google.com/?usp=folder#folders/0B-MUg64rB4Y5dU1BejA2aGU5UVk) folder on Google Drive, it's not obvious which documents are the normative specs for the CHD (I'm assuming [CHD Indicators](https://docs.google.com/spreadsheet/ccc?key=0AjNYvYpDh-dadEs0bEV3VXJ4MXRYa0xVR2l1XzhoQmc&usp=sharing) and [CHD Attributes](https://docs.google.com/spreadsheet/ccc?

[2014-05-22 17:47] luiscape commented on #57
Hi @davidmegginson I agree with you on organizing that folder. Let me confirm with Sarah and @JavierTeran what are the most important documents there and start organizing. I'll add updates to this thread.

[2014-06-03 10:11] cjhendrix opened #58 "GINI data looks funny"
I know nothing about GINI, so maybe this is normal, but the data looks very spotty compared to what I would expect from an economic indicator like this.

http://test-data.hdx.rwlabs.org/dataset/gini_index

[2014-06-03 12:29] luiscape commented on #58
The GINI index is remarkably spotty: http://data.worldbank.org/indicator/SI.POV.GINI

[2014-06-03 13:35] cjhendrix commented on #58
Ok, So not our problem.  Thanks for checking. Closing.

[2014-06-03 13:35] #58 closed, assigned to JavierTeran

[2014-06-06 08:25] cjhendrix commented on #21
Almost done with this one.  All that remains is to make the changes to the URLs **and** filenames on CKAN.  I've done the first one and will work more on this later.  But if you guys want to pitch in feel free. I've added a column to Godfrey's [gdoc](https://docs.google.com/spreadsheets/d/1PuYm30klSEkOu8-ziX_A6iNmJCtR0KxznVQuSDYQfEI/edit#gid=2130434504) to indicate who updated the ckan dataset.

U

[2014-06-25 14:57] JavierTeran commented on #57
Thanks @davidmegginson and @luiscape
The latest work on CHD is on 2014 Common humanitarian data set. Please do not move any other data file. Thanks

[2014-06-25 14:57] #57 closed, assigned to luiscape

[2014-06-25 14:58] JavierTeran commented on #56
This activity was completed programmatically by the Dev Team. Thanks.

[2014-06-25 14:58] #56 closed, assigned to JavierTeran

[2014-06-25 14:59] JavierTeran commented on #52
@takavarasha please confirm this activity is completed and close this issue. Thanks.

[2014-06-25 15:00] JavierTeran commented on #51
thanks @cjhendrix
This issue is completed. Unless we want to use this template for any new data series.

[2014-06-25 15:00] #51 closed, assigned to JavierTeran

[2014-06-25 15:01] #17 closed, assigned to ochadataproject

[2014-06-25 15:01] #18 closed, assigned to JavierTeran

[2014-06-25 15:03] luiscape commented on #50
@cjhendrix Is this a CKAN UI feature?

[2014-06-25 15:03] JavierTeran commented on #14
We'll create a new issue with the specific data system for Colombia we want to import into HDX

[2014-06-25 15:03] #14 closed, assigned to JavierTeran

[2014-06-25 15:04] JavierTeran commented on #13
We have created a new 2014 CHD. Please see it here:
https://drive.google.com/#folders/0B-MUg64rB4Y5dU1BejA2aGU5UVk

[2014-06-25 15:04] #13 closed, assigned to JavierTeran

[2014-06-25 15:05] luiscape commented on #49
I believe crowdsourcing is the right way to go to get CAP figures. I will open a new issue about getting the data using [crowdcrafting](http://crowdcrafting.org/) a software platform created by the Open Knowledge Foundation to do things like these...

[2014-06-25 15:05] #49 closed, assigned to luiscape

[2014-06-25 15:07] luiscape opened #59 "Create list of data sources and clarify workflow"
We are currently experiencing an inflow of data in HDX. Our list of data sources remains very informal. It would be great to create a list of data source so we can monitor progress in analyzing how valuable that data is, getting the data, and putting it in our system.

[2014-06-25 15:08] JavierTeran commented on #16
This activity has been completed by our three volunteers. Thanks to all.

[2014-06-25 15:08] #16 closed, assigned to rosnfeld

[2014-06-25 15:10] luiscape opened #60 "Determine a workflow between data collection, normalization, and distribution."
Our current workflow needs some reshaping. I suggest discussing the [5 steps outlined in this document](https://docs.google.com/file/d/0BzNYvYpDh-daams1LV9CYkYtZU0/edit) and reach a conclusion about how data should be collected, normalized, and distributed. Most importantly, to reach a conclusion to what teams are responsible to what steps of the process.

[2014-06-25 15:10] JavierTeran commented on #20
@takavarasha Please clarify and close this issue. Thanks Godfrey.

[2014-06-25 15:11] JavierTeran commented on #25
@takavarasha Please let me know what do we need to re-activate this issue.

[2014-06-25 16:53] takavarasha commented on #40
Closing this and as the original issue was resolved. Some of the problems found with data are being resolved here https://github.com/OCHA-DAP/DAP-System/issues/222

[2014-06-25 16:53] #40 closed, assigned to takavarasha

[2014-06-25 16:58] #52 closed, assigned to luiscape

[2014-06-25 16:59] luiscape commented on #33
@JavierTeran Is this complete?

[2014-06-25 16:59] luiscape commented on #32
I believe this issue is done.

[2014-06-25 16:59] #32 closed, assigned to luiscape

[2014-06-25 17:00] luiscape commented on #35
Closing as the scope of the task has changed.

[2014-06-25 17:00] #35 closed, assigned to luiscape

[2014-06-25 17:01] luiscape commented on #26
Closing as the new CHD coding scheme has changed.

[2014-06-25 17:01] #26 closed, assigned to luiscape

[2014-06-25 19:37] JavierTeran commented on #19
The data team is controlling the indicators appearing in HDX via CPS. I am closing this issue now.

[2014-06-25 19:37] #19 closed, assigned to JavierTeran

[2014-06-25 19:38] JavierTeran commented on #21
@takavarasha Can you check if you can close this issue with what you have done? thanks.

[2014-06-25 19:40] JavierTeran commented on #31
This issue is completed.

[2014-06-25 19:40] #31 closed, assigned to JavierTeran

[2014-06-25 19:40] JavierTeran commented on #33
This is an ongoing issue as we are 'recruiting' more volunteers. No much sense to leave it open as a task.

[2014-06-25 19:40] #33 closed, assigned to luiscape

[2014-06-25 19:42] JavierTeran commented on #41
This issue is completed.

[2014-06-25 19:42] #41 closed, assigned to JavierTeran

[2014-06-25 19:42] JavierTeran commented on #39
We decided we will be using UNSD country codes as default in HDX.

[2014-06-25 19:42] #39 closed, assigned to JavierTeran

[2014-06-25 19:50] JavierTeran opened #61 "Operational Data: CODHES"
Bring CODHES into HDX.
Contact point Paola Hurtado

[2014-06-25 19:59] JavierTeran opened #62 "CPS importer updates"
Work with Sam to configure importing data from scrapers to HDX.

[2014-06-25 20:04] JavierTeran opened #63 "WFP VAM data in CPS"
1. Identify indicators (in progress)
2. Provide country-centric and indicator-centric samples
   https://docs.google.com/file/d/0B4Sjej3U9V6fcmVOajA3OU9zWVE/edit
   https://docs.google.com/file/d/0B4Sjej3U9V6fRW0yRS1TMVhTWnM/edit
3. Create importers @seustachi

[2014-06-25 20:07] JavierTeran commented on #34
@luiscape Can you refresh our mind about the deadline for final submission? Any feedback on the storhyline? Thanks.

[2014-06-25 20:24] JavierTeran commented on #59
@luiscape Is this a duplication of issue #60?
If not, can we join them together?

[2014-06-25 20:26] JavierTeran commented on #50
@cjhendrix I am closing this issue. The UI feature will be developed by the dev team.

[2014-06-25 20:26] #50 closed, assigned to JavierTeran

[2014-06-25 20:27] JavierTeran opened #64 "Country-specific data: SIDIH in HDX"
@luiscape If you could update where you stand on this activity I will be grateful.

[2014-06-25 20:29] JavierTeran opened #65 "New Common Humanitarian Dataset"
1. New list of indicators can be found here:
   https://docs.google.com/spreadsheet/ccc?key=0AtnZNVHc4TTcdGdxZEJucFhnOHFzYXMwR1g3eXVSemc&usp=drive_web#gid=4
2. We are working on a new CHD coding system
3. Once it is approved by Management we will implement it with the help/guidance of @davidmegginson

[2014-06-25 20:30] takavarasha commented on #21
List of indicators was created and the fix suggested by CJ was applied to the indicators.The list and results of the process are documented here: https://docs.google.com/spreadsheets/d/1PuYm30klSEkOu8-ziX_A6iNmJCtR0KxznVQuSDYQfEI/edit#gid=2130434504

[2014-06-25 20:30] #21 closed, assigned to takavarasha

[2014-06-25 20:30] JavierTeran opened #66 "New visuals with WFP VAM data"
We will work with Kevin to develop a new visuals based on new data for the Berlin launch.

[2014-06-25 21:08] takavarasha commented on #20
I believe this issue was resolved some time ago. This indicator is part of a number of indicators that were being looked at by SW. The results of this work are being recorded in the google spreadsheet below. I checked today's SW csv.zip and I saw that PVX040 had 807 data points in the value.csv file.

https://docs.google.com/spreadsheets/d/1uxl3IM9mbXKA3MmA2x4M9-YnjDDhjZmyl2eCf9nNN4Q/edit#gid=0

C

[2014-06-25 21:08] #20 closed, assigned to takavarasha

[2014-06-25 21:15] takavarasha commented on #25
Since we have developed a template for the source-centric collections, I think we should reassign this issue to the dev team to implement the reporting in CPS.

[2014-06-25 22:06] luiscape commented on #59
@JavierTeran I believe this list is part of the workflow in issue #60. I'll merge them = close this one and add the discussion to the other one..

[2014-06-25 22:06] #59 closed, assigned to JavierTeran

[2014-06-25 22:08] luiscape commented on #60
The discussion of issue #59 (Creating a list of data sources) shall be continued here.

To be clear, I imagine this list being the very first step of the workflow of the data-team. Something we can use as a reference of where to look for high-value data. As a started, I created the following list: https://docs.google.com/spreadsheets/d/1GZICM4NRkT-gy_r_HnwaWPBk-jzTuzJVKBg1n24CvtU/edit#gid=0

[2014-06-26 13:57] JavierTeran opened #67 "QA Data import"
@takavarasha will develop a tool to monitor that every single indicator in HDX has data. Please let me know if you need some help of a volunteer. Please look at the volunteers roster also. Thanks.

[2014-06-26 13:57] JavierTeran commented on #25
Thanks @takavarasha Good point. @cjhendrix Could you please help us with this one?

[2014-06-26 13:57] #25 closed, assigned to takavarasha

[2014-06-26 13:58] JavierTeran commented on #58
@cjhendrix Thanks for bring this to us!

[2014-06-26 15:32] luiscape opened #68 "Clean data for frog"
The [data-for-frog repository](https://github.com/luiscape/data-for-frog/) contains attributes from the CHD. Those attributes should be taken out.

[2014-06-26 15:32] luiscape commented on #68
Also check that the people affected indicator is included.

[2014-06-26 16:58] luiscape commented on #68
Done. Check the list of indicators here: https://github.com/luiscape/data-for-frog/blob/master/frog_data/csv/indicator.csv

[2014-06-26 16:58] #68 closed, assigned to luiscape

[2014-06-26 19:36] takavarasha commented on #63
I have uploaded the pcode list for col,yem and ken in this csv file in the Datateam/WFP folder:
https://docs.google.com/file/d/0B9nZNVHc4TTcREdqX1oyeE83Z28

[2014-06-26 19:40] takavarasha commented on #61
So far, two datasets were uploaded today (2014/06/26). The datasets are:
http://data.hdx.rwlabs.org/dataset/municipal-statistics-of-forced-displacement
http://data.hdx.rwlabs.org/dataset/national-statistics-of-internal-displacement

We expect a third dataset containing more indicators. The data is still being prepared. I will follow up on this one on Friday.

[2014-06-26 19:42] takavarasha commented on #62
Configured the importers for the 48 indicators on production. Currently testing if the configuration worked for all indicators.

[2014-06-26 21:44] luiscape commented on #63
Excellent Godfrey! Really good news! I think this is step 1 of having sub-national entities in CPS. Let's check-in with Sam tomorrow if we can have a bulk-upload of sorts for entities. That would make the process super quick.

[2014-06-27 13:17] luiscape opened #69 "Create indicators for UNHCR Data"
Here are the indicators created in this first batch:
- Refugees per Country of Origin
- Refugees per Country of Destination
- Asylum Seekers per Country of Origin
- Asylum Seekers per Country of Destination
- Others of Concern per Country of Origin
- Others of Concern per Country of Destination
- Returned IDPs per Country of Origin- People of Concern per Country of Origin
- People of Concern per C

[2014-06-27 13:52] JavierTeran commented on #69
Hi @luiscape If you go to pop.stats you have this list:

Refugees
Asylum seekers
Returned refugees
Internally displaced persons
Returned IDPs
Stateless persons
Others of concern

We have already refugees. If you could do Asylum seekers, Returned refugees
 and Internally displaced persons for Berlin. I would be grateful.

[2014-06-27 14:00] luiscape commented on #69
@JavierTeran We don't have `refugees` in CPS. We have it in the repository, but not in CPS. I thought this task was to standardize the indicators into the CPS format.

[2014-06-27 15:02] JavierTeran commented on #69
Thanks @luiscape For the time being, we will do this ad-hoc arrangement to bring data in CKAN as you did for Refugees data. Please let me know if you can try to fit it in CPS otherwise. Just keep in mind we need Asylum seekers, Returned refugees and IDPs for Berlin.

[2014-06-27 15:04] JavierTeran commented on #66
I talked to Kevin this morning. He is happy with the assignment and he will send us the first draft of WFP visualisation data early next week.

[2014-06-27 15:05] JavierTeran commented on #63
@takavarasha Thanks for this!

[2014-06-27 15:07] JavierTeran commented on #37
Guys, will take it out of this list for now.

[2014-06-27 15:07] #37 closed, assigned to JavierTeran

[2014-06-27 15:10] #27 closed, assigned to takavarasha

[2014-06-27 15:11] #28 closed, assigned to luiscape

[2014-06-27 16:06] JavierTeran opened #70 "OKT Fest 2014"

[2014-06-27 16:06] luiscape commented on #60
Here is the latest tentative of workflow: https://docs.google.com/file/d/0BzNYvYpDh-daV0VRRGd2bEdrS1k/edit

[2014-06-27 16:46] luiscape commented on #60
Here is a new version of the dataflow: https://docs.google.com/file/d/0BzNYvYpDh-daN3FMRHRZZ2E1dXM/edit

[2014-06-27 22:07] luiscape commented on #70
I am closing this issue for now. If follow-up is needed I'll reopen it.

[2014-06-27 22:07] #70 closed, assigned to luiscape

[2014-06-27 23:35] luiscape commented on #69
- People of Concern per Country of Origin (CHD.B.PRO.0001.T6)
- People of Concern per Country of Destination (CHD.B.PRO.0002.T6)

Have been created. @takavarasha please let me know if those codes make sense when you have a chance.

@JavierTeran we tried to do a dry-run of adding new indicators to CPS using the data above and it failed due to a bug in CPS. The bug has been reported. In the meantime

[2014-06-30 13:12] luiscape opened #71 "Bring the SIDH database (OCHA Colombia) to HDX"
The SIDIH database contains 418 indicators that OCHA Colombia uses to monitor the humanitarian situation in the country.

[2014-06-30 13:13] luiscape opened #72 "Bring the Monitor database (OCHA Colombia) to HDX"
OCHA Colombia monitors news sources and other publications in Colombia to extract information about events related to the humanitarian situation in the country. The Monitor database can be considered near real-time.

[2014-06-30 13:13] luiscape commented on #64
Hi Javier, I've split this issue into two different issues for easier tracking:
- [Bring the SIDIH database to HDX](https://github.com/OCHA-DAP/Data-Team/issues/71)
- [Bring the Monitor database to HDX](https://github.com/OCHA-DAP/Data-Team/issues/72)

[2014-06-30 13:13] #64 closed, assigned to luiscape

[2014-06-30 14:51] luiscape commented on #71
@JavierTeran and @takavarasha the 418 indicators together with their accompanying data have been processed into CPS' format. So you have an idea of how desegregated subnational data affects our system, here is how much data we had before Colombia:

![plot_zoom_png-4](https://cloud.githubusercontent.com/assets/953118/3430808/d1cd363a-0064-11e4-9b72-8bbbf17be3b6.png)

And here is how much we have af

[2014-06-30 15:24] luiscape opened #73 "Update indicator codes in the CHD list to add both the T (time-reference) and correct topic-based index numbers"
We have to re-create the codes based on topic (re-create the index) and also add the time-reference (T) to each one of them. This is the latest version of the coding scheme for reference: https://docs.google.com/file/d/0BzNYvYpDh-daNUVZdy1HOU4wakk/edit

[2014-06-30 15:33] luiscape opened #74 "Create codes for the 418 indicators from Colombia SIDIH"
The list of indicators can be found here: https://docs.google.com/spreadsheet/ccc?key=0AtnZNVHc4TTcdGdxZEJucFhnOHFzYXMwR1g3eXVSemc&usp=drive_web#gid=11

[2014-06-30 19:18] luiscape commented on #69
UNHCR just updated its database to include numbers from 2013: http://popstats.unhcr.org/PSQ_TMS.aspx I'll adapt the code to include those data.

[2014-07-01 15:01] luiscape commented on #71
The database has been processed into CPS' format. @takavarasha and I will try to bring it to CPS in the coming days. Here is the repository for the work: https://github.com/luiscape/ocha_colombia_sidih

Closing.

[2014-07-01 15:03] takavarasha opened #75 "Add the source to the beginning of the description of a dataset on CKAN"
@ochadataproject would like the source of a dataset to be visible from the search results page. To do this, we have to prefix the source of the dataset to the the description of the dataset. For instance, a dataset whose description is "The number of bananas eaten per year" and whose source is "Banana Authority", should have its description updated to:
"[Source: Banana Authority] The number of ban

[2014-07-01 15:07] takavarasha opened #76 "Update the license of country-centric curated datasets on CKAN to Multiple licences"
All the country-centric curated datasets on CKAN have their licenses incorrectly listed as "other" instead of "Multiple Licenses".

[2014-07-01 15:08] luiscape commented on #69
I just finished generating indicators in the CPS format. It includes data from 2000 until 2013. Here is the repository for the work: https://github.com/luiscape/unhcr-data

And here is the final data: https://github.com/luiscape/unhcr-data/tree/master/data/cps

The file was uploaded manually to HDX Repo and it is available [here](http://test-data.hdx.rwlabs.org/dataset/raw-unhcr-popstats). We can

[2014-07-01 15:11] takavarasha opened #77 "Update the descriptions of the new SW indicators on CKAN"
The new SW indicators on CKAN do not have a description specified. The descriptions for these indicators should be updated with the descriptions on CPS.

[2014-07-01 22:00] takavarasha commented on #69
Codes make sense except for the fact that the one of them is likely to be a
0001

On Friday, June 27, 2014, Luis Capelo notifications@github.com wrote:

[2014-07-02 23:48] luiscape commented on #69
@takavarasha the indicators were extracted from the UNHCR's popstats database. But we still have to codify them using the new coding system. Here you have the current version: https://github.com/luiscape/unhcr-data/tree/master/data/cps

I'll give it a try and post here the results. I would really like to upload that data to CPS tomorrow if time allows.

[2014-07-03 00:32] takavarasha commented on #69
Lets upload these at 9am

On Wednesday, July 2, 2014, Luis Capelo notifications@github.com wrote:

[2014-07-03 22:36] luiscape opened #78 "Import UNHCR data to CPS"
We have to import the UNHCR data available in [this repository](https://github.com/luiscape/unhcr-data) to CPS.

[2014-07-03 22:40] luiscape commented on #73
This task has been completed.

[2014-07-03 22:40] #73 closed, assigned to nobody

[2014-07-03 23:01] luiscape commented on #69
I just changed the codes based on the updated coding scheme. Here is the new list:

| name | indID | units |
| --- | --- | --- |
| Number of People of Concern by Country of Origin | CHD.O.PRO.01.T6 | People |
| Number of People of Concern by Country of Residence | CHD.O.PRO.02.T6 | People |
| Internally displaced by Country of Residence | CHD.O.PRO.03.T6 | People |
| Internally displaced by Countr

[2014-07-07 17:16] luiscape opened #79 "Import OCHA Colombia's SIDIH data to CPS."
OCHA Colombia's database with 418 indicators has to be imported to CPS. A sample of the data is available in this repository: https://github.com/luiscape/ocha_colombia_sidih/tree/master/data/cps

[2014-07-07 17:18] luiscape commented on #71
Two other issues were created as follow-up:

- import the data to CPS (#79)
- create codes for all the 418 indicators (#74).

[2014-07-07 17:19] luiscape commented on #72
The data from Monitor comes in raw format, i.e. there are many indicators we can extract from it. We need to, first, create indicators out of this data.

[2014-07-07 17:25] luiscape commented on #65
@JavierTeran and @takavarasha I believe we have reached a stable place with the new CHD coding scheme. The latest version is available here ([v.2.1](https://docs.google.com/file/d/0BzNYvYpDh-daNUVZdy1HOU4wakk/edit)).

Also, we have mapped the old codes to the new codes in this Google Spreadsheet: https://docs.google.com/spreadsheet/ccc?key=0AtnZNVHc4TTcdGdxZEJucFhnOHFzYXMwR1g3eXVSemc&usp=drive_web

[2014-07-07 19:41] takavarasha commented on #62
Worked with @seustachi to get the importer working. Will need a few more tests before I close this one

[2014-07-07 19:43] takavarasha commented on #61
Spoke to CODHES and third dataset from CODHES expected on Friday 11 July.

[2014-07-07 19:44] takavarasha commented on #67
This task is no longer relevant as a feature to check for data has now been included in CPS

[2014-07-07 19:44] #67 closed, assigned to takavarasha

[2014-07-07 20:06] takavarasha commented on #76
The licenses have been changed to Multiple licenses. I believe this was done through a script in CKAN. Not too sure who did it but thanks!

[2014-07-07 23:42] luiscape commented on #62
@takavarasha does it mean that the importer is working on staging? I would love to try with the data from UNHCR.

[2014-07-08 15:55] JavierTeran opened #80 "Data in blog"

[2014-07-08 17:21] takavarasha commented on #62
It worked on staging but came out with a bug on production

[2014-07-08 19:04] takavarasha commented on #76
This issue was actually not changed for all. So am reopening it. I have developed a script to fix this issue which I have tested on staging. I will close this issue when the script is run on production.

[2014-07-08 19:06] takavarasha commented on #75
I have written a script to prefix the descriptions of each dataset. I have tested the script on staging and will close this issue when the script is run on production.

[2014-07-08 19:18] JavierTeran commented on #69
When are we going to see the data in CKAN? @luiscape

[2014-07-08 19:19] JavierTeran commented on #78
@seustachi If you could please help us with this one I would be grateful. We want this out for our Berlin launch.

[2014-07-08 19:21] JavierTeran commented on #71
Thanks @luiscape and @takavarasha . Unfortunately, the data system can't hold this type of the data as it stands now. We move this upload for a top priority soon after Berlin. :-1: Sorry about the wasted effort.

[2014-07-08 19:22] JavierTeran commented on #72
@luiscape Sure, lets define the indicator once we know we can accommodate subnational data. More after Berlin.

[2014-07-08 19:38] takavarasha commented on #77
I updated the descriptions manually.

[2014-07-08 19:38] #77 closed, assigned to takavarasha

[2014-07-10 13:44] JavierTeran opened #81 "ROWCA data in HDX"
To bring ROWCA data into HDX and conduct analysis

[2014-07-10 13:45] JavierTeran opened #82 "Concern Demo"
Demo of the HDX and future collaboration

[2014-07-11 23:10] luiscape commented on #69
The data is available in this dataset: http://data.hdx.rwlabs.org/dataset/unhcr-refugee-pop-stats

Those don't have the indicator codes as the indicator codes are for data in CPS only.

Closing ...

[2014-07-11 23:10] #69 closed, assigned to luiscape

[2014-07-11 23:11] luiscape commented on #62
@takavarasha Any updates on this one?

[2014-07-11 23:12] luiscape commented on #75
@takavarasha Will you have to run the script again? Or is this issue closed?

[2014-07-17 15:30] takavarasha commented on #76
Updated these licenses. Closing

[2014-07-17 15:30] #76 closed, assigned to takavarasha

[2014-07-17 15:30] takavarasha commented on #75
Ran script to effect this change.

[2014-07-17 15:30] #75 closed, assigned to takavarasha

[2014-07-17 15:53] takavarasha commented on #62
@seustachi fixed the issue with the importer.

[2014-07-17 15:53] #62 closed, assigned to takavarasha

[2014-07-17 21:23] luiscape commented on #62
@takavarasha Have you had a chance to actually test it?

[2014-09-09 22:09] takavarasha opened #83 "Reorganize columns in UNHCR Refugee Population Statistics dataset so that most recent data comes first"
Reorganise the columns in the UNHCR Refugee Population Statistics dataset so that reading from left to right, the most recent data comes first. The date columns should run from year 2013 down to 2000. The [csv file](http://data.hdx.rwlabs.org/storage/f/2014-07-11T21%3A05%3A45.171Z/unhcr-popstats-database.csv) in question is located in [this dataset](https://data.hdx.rwlabs.org/dataset/unhcr-refuge

[2014-09-09 22:12] takavarasha opened #84 "Sort the data in the Number of Refugees by country data so that the most recent data comes first"
Sort the data in the CSV files for the following datasets so that the most recent data comes at the top of the list. The affected datasets are:

[Number of Refugees from Colombia](https://data.hdx.rwlabs.org/dataset/number-of-refugees-from-colombia)
[Number of Refugees from Kenya](https://data.hdx.rwlabs.org/dataset/number-of-refugees-from-kenya)
[Number of Refugees from Yemen](https://data.hdx.rw

[2014-09-15 15:40] luiscape commented on #84
I just sorted the files. Now the latest year comes on top. Closing issue.
- https://data.hdx.rwlabs.org/dataset/number-of-refugees-from-colombia/resource/a232bf4f-e982-4b7a-84df-c975796fe5c4
- https://data.hdx.rwlabs.org/dataset/number-of-refugees-from-kenya/resource/148144fc-b7b5-4ff5-bf9f-c8fd6ddf0b99
- https://data.hdx.rwlabs.org/dataset/number-of-refugees-from-yemen/resource/0506628e-9301-451e

[2014-09-15 15:40] #84 closed, assigned to luiscape

[2014-09-15 15:41] takavarasha commented on #83
This one is taken care of. The columns have been sorted.

[2014-09-15 15:41] #83 closed, assigned to luiscape

[2014-09-15 15:43] luiscape commented on #80
This issue is completed. Blog post is here: http://docs.hdx.rwlabs.org/the-starting-point-a-look-at-the-data-in-hdx/

[2014-09-15 15:43] #80 closed, assigned to JavierTeran

[2014-09-15 15:46] luiscape commented on #81
As of today, we have 4,444 records from ROWCA's ORS on 250 indicators. The data is available on ScraperWiki (https://scraperwiki.com/dataset/eniyl0w), but hasn't yet been uploaded to HDX. Should the data be uploaded to HDX by us? What's the follow-up?

[2014-09-15 15:48] luiscape commented on #79
I am closing this issue for now as we are _not_ importing sub-national data into CPS yet.

[2014-09-15 15:48] #79 closed, assigned to luiscape

[2014-09-15 15:53] luiscape commented on #74
Closing this issue as we are _not_ working with sub-national data at the moment.

[2014-09-15 15:53] #74 closed, assigned to takavarasha

[2014-09-15 15:54] luiscape commented on #29
I am closing this issue as it seems that it has been completed.

[2014-09-15 15:54] #29 closed, assigned to rosnfeld

[2014-09-15 15:54] luiscape commented on #60
Closing issue: completed.

[2014-09-15 15:54] #60 closed, assigned to JavierTeran

[2014-09-15 15:56] luiscape commented on #66
This task has been completed.

[2014-09-15 15:56] #66 closed, assigned to JavierTeran

[2014-09-15 15:56] luiscape commented on #65
In consideration of the new codes, etc. I am closing this task.

[2014-09-15 15:56] #65 closed, assigned to JavierTeran

[2014-09-15 15:57] luiscape commented on #61
Closing this issue: completed.

PS: This seems to be an interesting candidate for a visualization.

[2014-09-15 15:57] #61 closed, assigned to takavarasha

[2014-09-15 15:58] rosnfeld commented on #29
Yes, and please let me know if you need any help with the code going forward.

[2014-09-15 16:00] luiscape commented on #63
Closing as the task is complete.

[2014-09-15 16:00] #63 closed, assigned to JavierTeran

[2014-09-15 17:40] luiscape commented on #29
@rosnfeld Most certainly! Thank you for everything thus far!

[2014-09-25 12:09] cjhendrix opened #85 "Formal Names seem to be short names"
I was looking at https://data.hdx.rwlabs.org/dataset/formal_name/resource/e4a2d3c4-cf78-4eaa-960d-f163950059fd

and noticed that some of the names are not the formal name (Bolivia, for example, should be Bolivia, Plurinational State of).

Not sure if this is a problem in the data or just a different source than what we used to generate the names.

[2014-09-25 12:15] luiscape commented on #85
Also, not sure if I should create a new issue, but the country names are in all caps. Is that intentional?

[2014-10-10 06:39] cjhendrix opened #86 "Review Country Names"
There are some odd country names that came from the m49 list which don't follow the convention of being all caps.  I have noticed this with
- "State of Palestine"
- Romania
- "Curaçao"
- "Isle of Man"
- "Sint Maarten (Dutch part)"

We manually cleaned these up when we populated the country listin CKAN, but now that we are pulling information from the CPS API, we need to straighten it out in CPS.

[2014-10-10 06:58] cjhendrix commented on #86
When this is done, please assign an issue to Dan to refresh the CPS and CKAN caches (otherwise the changes won't appear) for a day.

[2014-10-16 14:08] cjhendrix opened #87 "Delete "attribute" indicators on ckan"
Please consider deleting any of the attribute indicators (currency code, short name, etc) since these do not meet our definition of an indicator (non numeric) and are therfore not graphable.

![image](https://cloud.githubusercontent.com/assets/1654485/4663691/d5793e04-553d-11e4-83fe-19be744e5aa6.png)

Tagging @JavierTeran

[2014-10-16 16:08] luiscape commented on #87
A couple of things here:
1. They should be deleted as datasets from CKAN?
2. They should be deleted from CPS? Or, at least, put in a different table? This will prevent them to be served through the same API that serves indicator values.
3. They should be deleted from the API query list?

Let us know what you think.

[2014-10-16 17:53] takavarasha commented on #87
I know that the attribute indicators which were left on CKAN when the wikipedia datasets were removed sometime before the launch. I believe this was because we use the attributes in the country centric reports. Will wait for @JavierTeran for decision on what to do with these on CKAN. The list of attribute indicators that I know to be on CKAN is as follows:

[CG020 Formal Name](https://data.hdx.rwl

[2014-10-17 09:02] cjhendrix commented on #87
We need to leave them on CPS for now as they are used in the reports.  Creating a new attribute entity for them is low priority at the moment.  I think anyone sophisticated enough to use our API won't be too flummoxed by seeing an indicator for country name, etc.

But I think we _do_ need to delete the datasets on ckan, since they can't be graphed.

[2014-10-17 14:55] luiscape commented on #87
Sounds good. Thanks @cjhendrix. Should we go ahead and delete those from CKAN @takavarasha and @JavierTeran ?

[2014-10-17 16:42] JavierTeran commented on #87
Hi @cjhendrix @takavarasha @luiscape I totally agree. I just double checked and can't find them any more in the collections (xls, csv, readme). That was my only worry. We can delete the list as indicated above as soon as possible.

[2014-10-17 16:56] takavarasha commented on #87
Deleted the list.

[2014-10-17 16:56] #87 closed, assigned to nobody

[2014-10-17 16:58] takavarasha commented on #85
This dataset has been deleted from CKAN. Closing this issue.

[2014-10-17 16:58] #85 closed, assigned to JavierTeran

[2014-10-17 17:30] takavarasha commented on #86
Made country entities ALL CAPS.

[2014-10-20 09:10] cjhendrix opened #88 "There are two entities for Romania on CPS Prod"
I noticed there are two country entities for Romania (codes ROM and ROU).  We should check which one (hopefully it is only one) is used for the indicator values and delete the other one.

[2014-10-20 15:57] cjhendrix commented on #86
Thanks Godfrey.  I have confirmed that the caches will be invalidated when we deploy, so the all caps country names should be visible.  I will test this as soon as the deployment is complete and then close this issue.

[2014-10-22 07:36] cjhendrix opened #89 "Some IPI resources are too large for preview"
Some of the resources here are not previewing because the file size is quite large (47mb).
https://data.hdx.rwlabs.org/dataset/ipi-peacekeeping-database/resource/64e06182-d4a9-4739-b0a5-02b14d8f3a9d

Options:
1. Would it be possible to make these files smaller by cutting unneeded data?
2. Zip them  (which disables the preview button)
3. Load them via the api to datastore (not sure this would fix i

[2014-10-22 07:59] cjhendrix opened #90 "Some issues with FTS indicator data"
The fts data all has 0s for 2015, which makes the graph not look nice,  but they are working.

There are three potential solutions for that kind of display problem that I can think of:

1) CPS will eventually manage all of the ckan information for each indicator, including default sort order, periodicity, etc.  We could add a parameter for "default year to display".  An option like "last year" wou

[2014-10-22 07:59] cjhendrix commented on #90
Note that this means we should not re-import new FTS data until number 2 is done.

[2014-10-22 11:54] cjhendrix commented on #90
Further note:  I talked to Sean Foo and he assures me that this one: https://data.hdx.rwlabs.org/dataset/cap_amount_received
should have non-zero values for 2014, but our latest csv has all 0s.  Sean thinks it could be because from 2014 onward the appeal type = SRP, not CAP.

Tagging @luiscape

[2014-10-22 15:09] luiscape commented on #89
@cjhendrix , here is a quick follow-up:
1. I am not sure there is _unnecessary_ data there. I simply linked to the original datasets hosted on their website.
2. I can ZIP them, but then it seems a bit of a cumbersome change for our users. The data is available in CSV on their site. So it seems to be **extra** work for our users to actually get to the data.
3. I can certainly give it a try. However

[2014-11-11 10:44] cjhendrix opened #91 "Units missing or not declared in the same place"
As I browse I around the site, I've noticed a lot of variation in how we portray the "units" of a given indicator.  Sometimes it's in the name, sometimes the description, or sometimes it's not there at all.  We should probably make an effort to standardize that, perhaps once we have the metadata stuff managed in CPS (though I can't really tell you right now when that will be).

In the meantime, th

[2014-11-18 10:22] cjhendrix opened #92 "Possible problem with indicator PCH090"
Remember the problem with PCH090 (vaccines financed by govt)?  It looks like the different sub-annual values for a given country are all the same.

When we graphed it on the indicator page, it looked like this:
![screen shot 2014-10-21 at 23 13 43](https://cloud.githubusercontent.com/assets/3865844/4726059/d6231cec-595e-11e4-9903-aeace8a99db8.png)

So we switched back to being a normal dataset.

I

[2014-11-18 20:34] takavarasha commented on #92
I have investigated and have found that the problem lies with the import configuration for the indicator (and for PVL010 as well). Specifically, the Expected Time Format configuration for the indicator is set as yyyy-MM-dd, meaning that the value of the indicator is expected to change daily. This is in contrast with the more common Expected Time Format of YYYY used by other indicators whose values

[2014-11-19 08:37] cjhendrix commented on #92
Thanks for researching it Godfrey.  I've made an issue for sprint 41 (next week) to empty those data series and coordinate it with you so you can reconfigure and re-run the import.

https://github.com/OCHA-DAP/DAP-System/issues/312

Even with the incorrect configuration, I wonder why different dates are assigned?   I guess the date in the raw baseline data is changes with each scrape and cps is cr

[2014-11-24 09:28] cjhendrix commented on #92
@takavarasha We're going to try to do what I described above today or tomorrow when you have time.  However, PVL010 looks ok to us, it seems to have only 1 value per country for 2014.

[2014-12-11 12:17] cjhendrix opened #93 "Colombia Page: topline and graph values for "number of people with access constraints" don't match"

[2014-12-11 12:19] cjhendrix commented on #93
I realize that the graph is monthly and the topline could be for any period of time within 2014, but the values is much higher than any value in the graph.

[2014-12-12 08:58] cjhendrix opened #94 "Colombia IDP map data"
Consider asking the Colombia office to create a dataset for the sub-national IDP data so we can link to it from the map.

[2014-12-12 09:59] cjhendrix opened #95 "Screencast update for "submitting data""
Not sure if this is enough to trigger a change to the screencast, but the following changes have been made to the contribute page recently:
- Tags has been moved up the page
- New license options have been added.

[2014-12-12 19:28] luiscape commented on #95
Its a bit minor, so I won't change it for now. Unless @JavierTeran or @ochadataproject think it should be changed.

[2014-12-12 19:36] luiscape commented on #94
@cjhendrix we'll get it done.

Here is what OCHA Colombia will probably add to HDX:
- A GeoJSON file with the final calculations done to reach the map number.
- A CSV file with those final calculations, but a bit more organized.

The Data Team has jointly worked with OCHA Colombia on making the map. We are very familiar to where the files are and how to add them to HDX.

Now, I would like to highl

[2014-12-15 13:56] cjhendrix commented on #94
Hi Luis.  This has sparked an interesting discussion in our dev chat.

Do you know what is in this 500mb monster CSV?  Is it a single indicator?  Some sort of repository of historic data on many themes?

[2014-12-15 15:17] luiscape commented on #94
The file is a database dumb. It is highly granular, divided by gender, age, and type of displacements. Records are daily and almost individualized. The file is anonymised.

Here is the [file](http://ec2-54-86-59-119.compute-1.amazonaws.com/owncloud/public.php?service=files&t=5ee0d0c8ec0952a67c13c6b01a974da2&download).

Xitong (from OCHA Colombia) wanted to add the file directly to HDX. OCHA Colomb

[2014-12-23 15:28] cjhendrix commented on #73
Are these the codes in CPS now?  We are about to add the indicator type codes to the CKAN URLs (and package_extras).

[2014-12-23 15:51] cjhendrix commented on #73
Actually, I see that it isn't in CPS, and we will need to coordinate it (since CKAN uses the codes for the API calls).

[2014-12-29 19:42] luiscape commented on #73
New codes have been mapped, but haven't been implemented in CPS yet.

[2014-12-30 08:58] cjhendrix commented on #73
tagging @alexandru-m-g and @danmihaila so they are aware.

[2015-01-21 08:52] cjhendrix opened #96 "Basemap: Kiribati in the wrong ocean"
As requested, opening this in github for Dita.

Kiribati (or the label for it, at least) is misplaced:
![image](https://cloud.githubusercontent.com/assets/1654485/5833375/14344696-a153-11e4-92d7-38439c7b7950.png)

The tile service is here:  https://a.tiles.mapbox.com/v4/reliefweb.l0do54p4/page.html?access_token=pk.eyJ1IjoicmVsaWVmd2ViIiwiYSI6IldYR2ZuV3cifQ.eSPZMZWE6UyLtO0OH_-qrw#3/11.18/-2.81

Tag

[2015-01-22 10:05] cjhendrix opened #97 "Problem with geodata endpoints"
The two non-csv resources in this dataset are not working (either from HDX or directly pasted into the browser).

https://data.hdx.rwlabs.org/dataset/safe-and-dignified-burial-teams

[2015-01-22 14:22] luiscape commented on #97
Hi there CJ, both files seemed to work for me. Here's how they look like in (both SHP and GeoJSON):

![screen shot 2015-01-22 at 9 20 57 am](https://cloud.githubusercontent.com/assets/953118/5857236/16673b10-a218-11e4-8a2b-9f94a38d1a92.png)

Maybe the ArcGIS server they are using had a hickup?!

As per above, I'm closing this issue.

[2015-01-22 14:22] #97 closed

[2015-01-22 15:24] cjhendrix commented on #97
Yes, working now!

[2015-01-27 15:18] cjhendrix opened #98 "Source Names"
The source names in CPS are being used on the new default country page.  Sometimes the source names are good for display ("World Bank") and sometimes not ("esa-unpd-WUP2011").  You may want to have a quick edit of these so that the names look good on the default country page.  They can be edited here:https://manage.hdx.rwlabs.org/admin/curated/sources/

The page that uses these source names should

[2015-01-27 15:21] takavarasha commented on #98
I will take care of this one

[2015-02-03 13:00] cjhendrix opened #99 "HDI Rank missing from ckan"
In working on the new default country page, I noticed that there does not appear to be a dataset for HDI Rank on ckan (PSE220).  I'm not really sure why that would be Could you please add this indicator so we can link to it from the default country page?

[2015-02-03 15:56] takavarasha commented on #99
The PSE220 dataset exists on CKAN but is private (https://data.hdx.rwlabs.org/dataset/human_development_index_rank). I see we also have the following dataset that was added to CKAN: https://data.hdx.rwlabs.org/dataset/human-development-index-trends.

[2015-03-23 10:20] cjhendrix opened #100 "Indicator for Number of Reports in RW showing 0 for 2014"
Seems that something may be wrong with both the scraper **and** cps' processing of it.

1. The values for 2014 in the raw dataset are all very low (6 or less) with most of them being 0.   This makes me think there may be a problem with the scraper.
1. In CKAN, the preview shows no values above 0, so either we haven't imported the raw rw data recently @takavarasha ?  Or there is a problem with how

[2015-03-23 11:44] teodorescuserban commented on #100
Maybe related with #2483?

Lun, 23 mar. 2015, 12:21, cjhendrix notifications@github.com a scris: